{% extends 'base.html' %} {% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-btech-electrical/sidebar-btech-electrical.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">Bachelor of Technology (Electrical)</h2>
            <p class="justify">The B. Tech Electrical Engineering program has been carefully designed to enable graduates to undertake operation
                and maintenance of electrical appliances by applying his/her knowledge in all stages of Electrical Engineering
                projects. The students are extensively exposed to the real electrical engineering projects that equip them
                to work in an industrial environment. B. Tech Electrical Engineering is a 4 years (132 credit hours) program
                with an average work load of 12-15 credit hours per Trimester.
            </p>
        </div>

    </div>
</div>
<!-- End HOD Message -->
{% endblock %}