{% extends 'base.html' %}

{% block body %}
{% load static %}
<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-life-scienecs/department-micro/sidebar-micro.html' with hod="active" %}
        </nav>
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
  <center><img src='{% static "img/Allah-Nawaz-Khan.jpg" %}' class="img-rounded" width="10%"></center>
  <br>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of Microbiology </p>
  <br>
  <p class="justify">It's my amazing privilege and benefit to serve Head, Faculty of microbiology in this recognized, great and celebrated establishment "AUIC". Our promise to drug store training with high energy and dedication has basic reason to outfit youthful drug store understudies with polished methodology, aptitude, capability and abilities. This is one of the main college in giving the quality drug store instruction.
    </p>
  <p class="justify">

      We, as a group constantly battle for improvement and progression of calling, along these lines we will welcome any profitable proposals for advance change.
  </p>

 
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}