{% extends 'base.html' %} {% block body %}

<!-- HOD Message -->
<div class="container ">
        <div class="row">
                <div class="col-sm-3">
                        {% include 'department-life-scienecs/department-micro/sidebar-micro.html' with structure="active" %}
                </div>
                <div class="col-md-9 col-sm-9" id="static-content">
                        <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Bachelor of Science in Microbiology (BSMB)</h2>

                        <p>Bachelor of Science in Microbiology is a four year program which is offered to candidates who have completed 12 years of pre-medical schooling. This program covers all minor and major aspect of the discipline. Graduates with this degree will be able to work in industries, hospitals, and research organizations. The curriculum has been designed at par with national and international standards.</p>
                        
                        <br>
                        <h2>Programs Offered</h2>
                        <a class="btn btn-primary" href="{% url 'slider:micro-courses'%}">View Programs</a>
                </div>
        </div>
</div>
<!-- End HOD Message -->
{% endblock %}