{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-business/english/sidebar-english.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS English</h2>
            <p class="justify">The BS English is 8 semesters (4 years) program offered by the department of Management and Social Sciences. As per the HEC guidelines, the curriculum has been structured around a set of compulsory courses, general courses, foundation courses, major courses, and electives courses. The BS English degree can lead to a wide range of careers. In immediate and practical terms, the students become equipped for an enormous range of
careers and postgraduate opportunities. They can go on to work in translation, teaching and academics, professional writing, arts and media, journalism, administration, public relations, leisure and tourism management, international relations, marketing. Many graduates may progress to related postgraduate courses.  </p>
            <p></p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

