{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-life-scienecs/DPT/sidebar-DPT.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">Doctor of Physical Therapy (DPT)</h2>
            <p class="justify" >Physical therapy is an essential segment of modern health care system. It is a science of healing and art of caring. It pertains to the clinical examination, evaluation, assessment, diagnosis and treatment of musculoskeletal, Neurological, Cardio-Vascular and Respiratory systems functional disorders including symptoms of pain, edema, physiological, structural and psychosomatic ailments. It deals with methods of treatment based on movement, manual therapy, physical agents, and therapeutics modalities to relieve the pain and other complications. Hence, Physical therapy covers basic parameters of healing sciences i.e. preventive, promotive, diagnostic, rehabilitative, and curative.</p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

