{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3 col-md-3">
            {% include 'department-civil/sidebar-civil.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
        <h2 style="font-family: 'Lato', sans-serif;" class="text-center">BE in Civil Engineering</h2>
  <p class="justify">
      The BE Civil Engineering program is designed and developed along the modern lines tailored to impart and strengthen the students’ knowledge in civil engineering. Since launching of the program in Fall 2014, BECE is progressing rapidly to become a promising program in developing profession in civil engineers.  The education structure and curriculum is structured to achieve the outcomes, capabilities and qualities as outlined by Pakistan Engineering Council.<br><br>
The BECE is a 4 years (8 semesters) program. BECE program envisages extensive outdoor training in engineering surveying in the field and camp. On job internship training is also hallmark of this program
<a style="font-size: 12px;color: #00aeef" href="{% url "slider:CE_foreword" %}">Read more</a>
  </p>

</div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
