{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
          {% include 'department-civil/sidebar-civil.html' with info="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">BS in Civil Engineering</h2>
  <p class="justify">
        Civil Engineering, the oldest non-military profession usually includes a variety of engineering specialities like structural engineering, transportation systems, fluid mechanics, water resources, geo-systems, environmental engineering etc. <br> <br> Civil Engineers work in a broad spectrum of engineering situations and find employment opportunities in both public and private sectors. Civil Engineers work with construction forms, manufacturing companies, power companies, the petroleum industry, mining concerns and with consulting engineerging firms. Many opportunities for civil engineering employment exist in district, provincial and federal engineering departments and in various agencies of the government.<br> <br>  The Department of Civil Engineering has been established in 2014 at the Abasyn University Islamabad Campus. Currently this department offers program in BE in Civil Engineering. The Department is equipped and staffed to offer MS and PhD programs
         in Civil Engineering and its various specialities and sub-specialities in the near future.
  </p>

 

  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}

