{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3 col-md-3">
            {% include 'department-civil/sidebar-civil.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
        <h2 style="font-family: 'Lato', sans-serif;" class="text-center">BE in Civil Engineering</h2>
  <p class="justify">
      The BE Civil Engineering program is designed and developed along the modern lines tailored to impart and strengthen the students’ knowledge in civil engineering. Since launching of the program in Fall 2014, BECE is progressing rapidly to become a promising program in developing profession in civil engineers.  The education structure and curriculum is structured to achieve the outcomes, capabilities and qualities as outlined by Pakistan Engineering Council.
The BECE is a 4 years (8 semesters) program. BECE program envisages extensive outdoor training in engineering surveying in the field and camp. On job internship training is also hallmark of this program
</p>
        <h4>Civil Engineering Program Mission</h4>
  <p>“To provide students with quality education in civil engineering fundamentals, applications and design; that prepares professional engineering community; who will nationally and globally practice engineering and undertake research with professional ethics & social responsibilities through good teamwork, interpersonal skills and engagement with partners; embarking the students in lifelong learning while socially and economically impacting the society”</p>


  
 <h4>Program Mission Versus University Vision and Mission</h4>
      <div class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>S. No.</th>
              <th>University Mission</th>
              <th>Quality education</th>
              <th>Social Responsibility</th>
              <th>Innovation</th>
          </tr>
          </thead>
          <tr>
              <td>1</td>
              <td>Quality Education </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X</td>
              <td></td>
              <td></td>

          </tr>
          <tr>
              <td>2</td>
              <td>Social Responsibility</td>
              <td></td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X</td>
              <td></td>

          </tr>
          <tr>
              <td>3</td>
              <td>Research</td>
              <td></td>
              <td></td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X</td>

          </tr>


      </table>
      </div>

  <h4>Civil Engineering labs</h4>
  <p>The University has established well equipped labs for the Department of Civil Engineering where well trained lab engineers and other technical staff is available to conduct the experimental training and research work in various specialities of civil engineering. Following labs are already functional to undertake lab classes of the program:</p>
  <ul>
      <li>&nbsp;Engineering materials testing and teaching lab</li>
      <li>&nbsp;Concrete and concrete materials lab</li>
      <li>&nbsp;Engineering mechanics lab</li>
      <li>&nbsp;Engineering survey lab</li>
      <li>&nbsp;Engineering drawing lab</li>
      <li>&nbsp;Computer programming and design lab</li>
      <li>&nbsp;Soil mechanics and geotechnical engineering lab</li>
      <li>&nbsp;Fluid mechanics lab</li>
      <li>&nbsp;Environmental engineering lab</li>
      <li>&nbsp;Transportaion engineering lab</li>
      <li>&nbsp;Hydrology and WRM lab</li>
      <li>&nbsp;Hydraulic engineering lab</li>
      <li>&nbsp;Construction engineering & management lab</li>
  </ul>
  <br>
</div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
