{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3 col-md-3">
            {% include 'department-civil/sidebar-civil.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Program Structure</h2>
  
  <h4>Civil Engineering Program Mission</h4>
  <p>The mission of the BE Civil engineering program is:</p>
  <p>"To provide students with quality education in civil engineering fundamentals, applications and design; that prepares professional engineering community who will nationally and globally practice engineering and undertake research with professional ethics & social responsibilities through good teamwork, interpersonal skills and engagement with partners; embarking the students in lifelong learning while socially and economically impacting the society."</p>
  <h4>Program Educational Objectives (PEOs)</h4>
  <p>Program Educational Objectives (PEOs) are the attributes and abilities that the graduates are expected to demonstrate within few years of graduation. The PEOs are direct translation of program mission and are derived involving all stakeholders aligned with university and program mission. The PEOs stipulate the high-level program objectives and provide a broad framework to design program learning outcomes, curriculum and its provision.</p>
  <ol>
      <li>Engage in civil engineering profession based upon their knowledge and technical skills, with global, societal and sustainable perspectives.</li>
      <li>Demonstrate high professional ethics, obligations, responsibility, effective communication, teamwork and good leadership in their professional career.</li>
      <li>Engage in lifelong learning and professional development by pursuing graduate studies, research or other opportunities to achieve professional excellence while economically contributing towards the society.</li>
  </ol>
  <h4>Program Learning Outcomes (PLOs)</h4>
  <p>The graduates of Civil Engineering program will attain the following attributes for their professional career during their stay in ABASYN University;</p>
  <ol>
      <li><strong>Engineering Knowledge:</strong> An ability to apply knowledge of mathematics, science and engineering fundamentals and an engineering specialization to the solution of complex engineering problems.</li>
      <li><strong>Problem Analysis:</strong> An ability to identify, formulate, research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences and engineering sciences.</li>
      <li><strong>Design/Development of Solutions:</strong> An ability to design solutions for complex engineering problems and design systems, components or processes that meet the specified needs with appropriate consideration for public health and safety, cultural, societal, and environmental considerations.</li>
      <li><strong>Investigation:</strong> An ability to investigate complex engineering problems in a methodical way including literature survey, design and conduct of experiments, analysis and interpretation of experimental data, and synthesis of information to derive valid conclusions.</li>
      <li><strong>Modern Tool Usage:</strong> An ability to create, select and apply appropriate techniques, resources, and modern engineering and IT tools, including prediction and modelling to complex engineering activities, with an understanding of the limitations.</li>
      <li><strong>The Engineer and Society:</strong> An ability to apply reasoning informed by contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to professional engineering practice and solution to complex engineering problems.</li>
      <li><strong>Environment and Sustainability:</strong>An ability to understand the impact of professional engineering solutions in societal and environmental contexts and demonstrate knowledge of and need for sustainable development.</li>
      <li><strong>Ethics:</strong> Apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice.</li>
      <li><strong>Individual and Team Work:</strong> An ability to work effectively as an individual or in a team, on multifaceted and/or multidisciplinary settings.</li>
      <li><strong>Communication:</strong> An ability to communicate effectively, orally as well as in writing, on complex engineering activities with the engineering community and with society at large, such as being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</li>
      <li><strong>Project Management:</strong> An ability to demonstrate management skills and apply engineering principles to one's own work, as a member and/or leader in a team, to manage projects in a multidisciplinary environment.</li>
      <li><strong>Lifelong Learning:</strong> An ability to recognize importance of, and pursue lifelong learning in the broader context of innovation and technological developments.</li>
  </ol>
  <h4>Mapping of PEOs to PLOs</h4>
  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Sr. No</th>
                  <th>PLOs</th>
                  <th>PEO 1</th>
                  <th>PEO 2</th>
                  <th>PEO 3</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Engineering Knowledge</td>
                  <td>X</td>
                  <td>-</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Problem Analysis</td>
                  <td>X</td>
                  <td>-</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Design/Development of Solutions</td>
                  <td>X</td>
                  <td>-</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>Investigation</td>
                  <td>X</td>
                  <td>-</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>Usage of Modern Tools</td>
                  <td>X</td>
                  <td>-</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>The Engineer and Society</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>Environment and Sustainability</td>
                  <td>X</td>
                  <td>-</td>
                  <td>X</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>Ethics</td>
                  <td>-</td>
                  <td>X</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>Individual and Teamwork</td>
                  <td>-</td>
                  <td>X</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>Communication</td>
                  <td>-</td>
                  <td>X</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>11</td>
                  <td>Project Management</td>
                  <td>-</td>
                  <td>X</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>12</td>
                  <td>Lifelong Learning</td>
                  <td>-</td>
                  <td>-</td>
                  <td>X</td>
              </tr>
          </tbody>
      </table>
  </div>
  
  <h4>Civil Engineering labs</h4>
  <p>The University has established well equipped labs for the Department of Civil Engineering where well trained lab engineers and other technical staff is available to conduct the experimental training and research work in various specialities of civil engineering. Following labs are already functional to undertake lab classes of the program:</p>
  <ul>
      <li>&nbsp;Engineering materials testing and teaching lab</li>
      <li>&nbsp;Concrete and concrete materials lab</li>
      <li>&nbsp;Engineering mechanics lab</li>
      <li>&nbsp;Engineering survey lab</li>
      <li>&nbsp;Engineering drawing lab</li>
      <li>&nbsp;Computer programming and design lab</li>
      <li>&nbsp;Soil mechanics and geotechnical engineering lab</li>
      <li>&nbsp;Fluid mechanics lab</li>
      <li>&nbsp;Environmental engineering lab</li>
      <li>&nbsp;Transportaion engineering lab</li>
      <li>&nbsp;Hydrology and WRM lab</li>
      <li>&nbsp;Hydraulic engineering lab</li>
      <li>&nbsp;Construction engineering & management lab</li>
  </ul>
  
</div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
