{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
          {% include 'department-civil/sidebar-civil.html' with info="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Department of Civil Engineering</h2>
  <p class="justify">
The Department of Civil Engineering is committed to produce quality civil engineers with abilities to design, manage and operate Civil Engineering projects. Highly qualified and dedicated faculty, state-of-the-art laboratories and class rooms, library, and allied facilities provide a conducive educational environment. The education process at the department is based on Outcome Based Education (OBE) system which is focused at achieving specified outcomes in terms of individual student’s learning as specified in Washington Accord. The department offers BE Civil Engineering Program which is accredited by Pakistan Engineering Council (PEC) under Outcome Based Education (OBE) system.</p>

 

  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}

