{% extends 'base.html' %} {% block body %}
<style>
        .footer1{
        margin-top:70px;
        }
    </style>
<div style="margin-top: 30px;" class="container">
    <div class="row">
            <div class="col-sm-3">
                    <nav class="nav-sidebar">
                        {% include 'department-civil/sidebar-civil.html' with obe="active" %}
                    </nav>
                  </div>
        <div class="col-md-9 col-sm-9">
            <h1 style="background: #006666; color: white;">&nbsp;Outcome Based Education</h1>
            <h4>Program Educational Objectives (PEOs)</h4>
  <p>Program Educational Objectives (PEOs) are the attributes and abilities that the graduates are expected to demonstrate within few years of graduation.
<br>The graduates of BECE program are expected to:
</p>
  <ol>
      <li>Demonstrate competence in civil engineering profession by applying in-depth knowledge and technical skills with global, societal and sustainable perspectives.</li>
      <li>Practice civil engineering with professional integrity and commitment to social and ethical responsibilities.</li>
      <li>Demonstrate interpersonal and management skills in workplace.</li>
      <li>Demonstrate engagement in enhancing professional skills and exhibit quest for professional development.</li>
  </ol>
      <br>
  <h4>Program Learning Outcomes (PLOs)</h4>
  <p>The graduates of Civil Engineering program will attain the following attributes for their professional career during their stay in ABASYN University;</p>
  <ol>
      <li>Apply knowledge of mathematics, science and engineering fundamentals and an engineering specialization to the solution of complex engineering problems. </li>
      <li>Identify, formulate, research literature, and analyse complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences and engineering sciences.</li>
      <li>Design solutions for complex engineering problems and design systems, components or processes that meet the specified needs with appropriate consideration for public health and safety, cultural, societal, and environmental considerations. </li>
      <li>Investigate complex engineering problems in a methodical way including literature survey, design and conduct of experiments, analysis and interpretation of experimental data, and synthesis of information to derive valid conclusions.</li>
      <li>Create, select and apply appropriate techniques, resources, and modern engineering and IT tools, including prediction and modelling to complex engineering activities, with an understanding of the limitations.</li>
      <li>Apply reasoning informed by contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to professional engineering practice and solution to complex engineering problems.</li>
      <li>Understand the impact of professional engineering solutions in societal and environmental contexts and demonstrate knowledge of and need for sustainable development.</li>
      <li>Apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice.</li>
      <li>Work effectively as an individual or in a team, on multifaceted and/or multidisciplinary settings.</li>
      <li>Communicate effectively, orally as well as in writing, on complex engineering activities with the engineering community and with society at large, such as being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</li>
      <li>Demonstrate management skills and apply engineering principles to one’s own work, as a member and/or leader in a team, to manage projects in a multidisciplinary environment.</li>
      <li>Recognize importance of, and pursue lifelong learning in the broader context of innovation and technological developments.</li>
  </ol>
      <br>
  <h4>Mapping of PEOs to Vision and Mission of University as well as Department and Program Mission</h4>
  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Sr. No</th>
                  <th colspan="2" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      University and Program Mission</th>

                  <th>PEO 1</th>
                  <th>PEO 2</th>
                  <th>PEO 3</th>
                  <th>PEO 4</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>University Vision</td>
                  <td>Aspiring for a transformative impact on society<sup>2</sup> through academic excellence<sup>1,3</sup> and growth<sup>4</sup>.</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>University Mission</td>
                  <td>To build a nationwide knowledge community through quality education<sup>1,3</sup>, relevance1, critical thinking<sup>1,4</sup>, creativity<sup>1,4</sup>, research<sup>4</sup> and high sense of social responsibility<sup>1,2</sup>.</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Program Mission</td>
                  <td>Provide quality education1 in civil engineering fundamentals<sup>1</sup>, application<sup>1</sup>, and skills<sup>1,3 </sup>that prepare competent graduates who pursue professional excellence<sup>2,4 </sup>with responsibility<sup>2</sup> and effective societal contribution<sup>1,2</sup>.</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
                  <td>X</td>
              </tr>

          </tbody>
      </table>
  </div>

        </div>
    </div>
</div>
{% endblock %}