{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MphilMB//MphilMB-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">Mphil in Microbiology</h2>
            <p class="justify" >M.Phil. in Microbiology, offered by the Department of Life Sciences, is one of fastest growing post-graduate program at the campus. The faculty members are highly-qualified and are actively involved in teaching and research. The department has collaborative links with national research laboratories and institutes. The department has access to the modern laboratories and tools of microbiology, molecular biology, cell culture etc.
<br>Candidates opting for M.Phil. degree program are encouraged to build upon the body of knowledge already acquired in their graduate studies by indulging in original research work and thesis. The degree program fulfills all the curriculum requirements for M.Phil. degree program as recommended by Higher Education Commission, consisting of core and elective courses. The students are required to complete 24 credit hours of courses and complete a research thesis of 6 credit hours.</p>
        </div>
    </div>
</div>

{% endblock %}

