{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-business/BSTHM/sidebar-BSTHM.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS in Tourism and Hospitality Management</h2>
            <p class="justify" >Due to growing need of tourism and hospitality professionals in the country in recent years, the
Department of Management of Social Sciences offers a 4-year BS program in Tourism and
Hospitality Management. The curriculum has been designed to foster the knowledge and skills
in the graduate who can work in this fast-changing, dynamic and highly competitive field. There
are many concerns and industries that are direct contributors of the industry and hence in the
long run create greater job opportunities to those who have proper qualification. A degree in
Tourism and can open up career opportunities in hotels, restaurants, retailing, transportation,
travel agencies, tour companies, tourist attractions, leisure, recreation and sport, and cultural
industries.</p>
            <h4>Program Educational Objectives (PEOs)</h4>
            <p>The graduates of the BS Tourism and Hospitality Management program are expected to:
            <ol>
            <li>Be able to use knowledge and skills in pursuance of a successful career in tourism and
hospitality industry, research, teaching and other related areas.</li>
            <li>Keep abreast with current developments and issues in tourism and hospitality and
engaged in life-long learning.</li>
            <li>Contribute positively to society through responsible, professional, and ethical practice in
pursuance of their career and research.</li>
        </ol></p>
            <h4>Program Learning Outcomes (PLOs)</h4>
            <p>Upon successful completion of the degree in Hospitality and Tourism Management, students
should be able to:
            <ol>
            <li>Demonstrate an understanding of the scope and fundamental principles of hospitality
and tourism products and issues</li>
            <li>Demonstrate an understanding of general and specific approaches to operation and
management of hospitality industry, food and beverage service, travel, tourism, and
exhibitions businesses and management.</li>
            <li>Use knowledge and skills associated with problem solving appropriate for the discipline.</li>
            <li>Critically and scientifically evaluate hospitality and tourism business issues and to
develop solutions from the moral, professional, and academic perspectives.</li>
            <li>Analyze and solve problems, using appropriate tools and technology.</li>
    <li>Apply their knowledge of management, planning, staffing, and controlling to
organizations and business activities.</li>
            <li>Analyze and evaluate environmental and environmental sustainability&#39;s impact on
industry activities.</li>
            <li>Function effectively in a team by assuming different roles and demonstrating effective
leadership qualities and project management skills to accomplish a common goal
towards a significant project.</li>
            <li>Conduct him/herself in a professional and ethical manner, and practice industry-defined
work ethics.</li>
            <li>Communicate effectively both verbally and in writing with a range of audiences.</li>
            <li>Engage in continuing professional development and life-long learning.</li>
        </ol></p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

