{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MBA//MBA-sidebar.html' with structure="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
                <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Learning Outcomes</h2>
                <p class="justify">The students who earn the MBA degree will be able to:
              Effectively utilize various human relation skills including leadership; oral and written communication; teamwork and collaboration.
              Demonstrate competence in applying the tools and techniques of business management, drawing on a broad-based knowledge of the najor functions like accounting, economics, finance, information systems, marketing strategy and management to solve complex business problems and make sound business decisions.
              Think crtically and creatively in seeking solutions to practical and theoratical problems by using developed skills to evaluate information, solve problems and make sound decisions.</p>
      
                <h2 style="font-family: 'Lato', sans-serif;" >Semester Plan</h2>
                <p class="justify">The campus has designed a flexible MBA program to accomodate candidates with different background qualification such as candidates with BBA four years, BA/BSc two years etc. the following different MBA programs are available at the campus.
              MBA of 30 CrHr for candidates with four years bachelor degree in business or equivalent.
              MBA of 63 CrHr for candidates with sixteen years of non-business education.
              MBA of 90 CrHr for candidates with BA/BSc/B.Com degrees or equivalent.</p>
              
               
     
              
              
                <h2 style="font-family: 'Lato', sans-serif;">Area of Specialization</h2>
                <ul>
                  <li>Management</li>
                  <li>Finance</li>
                  <li>Marketing</li>
                  <li>Human Resource/ Organizational Behavior</li>
                  <li>Project Management</li>
                  <li>Supply Chain Management</li>
                  <!--<li>Aviation Management</li>-->
              </ul>
              
              <br>
              <h2 style="font-family: 'Lato', sans-serif;">View Courses</h2>
              <a href="{% url 'slider:MBA-courses' %}" class="btn btn-primary">View Courses</a>

        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

