{% extends 'base.html' %}

{% block body %}

<div class="container">
        <div class="col-sm-3">
                <nav class="nav-sidebar">
                        {% include 'department-graduate/MBA//MBA-sidebar.html' with courses="active" %}
                </nav>
            </div>
            <div class="col-md-9 col-sm-9" id="static-content">         
        <h2 style="font-family: 'Lato', sans-serif;" class="text-center"><strong>MBA - 1.5 Years</strong></h2>
   
               <div class="table-responsive">
                   <h3 class="text-center">SEMESTER 1</h3>
                   <table class="table">
                       <thead>
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG551</td>
                               <td>Strategic Finance</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG552</td>
                               <td>strategic Marketing</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG554</td>
                               <td>Strategic Human Resource Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG556</td>
                               <td>Leadership and Art of Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                         
                       </tbody>
                   </table>
   
                   <h3 class="text-center">SEMESTER 2</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG562</td>
                               <td>International Business and Trade</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG563</td>
                               <td>New venture creation</td>
                               <td>3+0</td>
                               <td>CS106</td>
   
                           </tr>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective I</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG699</td>
                               <td>Project (I)</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                           
                       </tbody>
                   </table>
   
                   <h3 class="text-center">SEMESTER 3</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective II</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective III</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG572</td>
                               <td>Corporate Social Responsibility</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG699</td>
                               <td>Project (II)</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                         
                       </tbody>
                   </table>
               </div>
            
           
        <h2 style="font-family: 'Lato', sans-serif;" class="text-center"><strong>MBA - 3.5 Years</strong></h2>
   
               <div class="table-responsive">
                   <h3 class="text-center">SEMESTER 1</h3>
                   <table class="table">
                       <thead>
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG104</td>
                               <td>Microeconomics</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG102</td>
                               <td>Financial Accounting - I</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG108</td>
                               <td>Introduction to Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MT104</td>
                               <td>Business Mathematics</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
   
                            <tr>
                               <td>SS288</td>
                               <td>Business Communications</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                         
                       </tbody>
                   </table>
   
                   <h3 class="text-center">SEMESTER 2</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG204</td>
                               <td>Macroeconomics</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG202</td>
                               <td>Financial Accounting – II</td>
                               <td>3+0</td>
                               <td>CS106</td>
   
                           </tr>
                           <tr>
                               <td>MG209</td>
                               <td>Principles of Marketing</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MT205</td>
                               <td>Business Statistics</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                             <tr>
                               <td>MG303</td>
                               <td>Business Research Method</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                           
                       </tbody>
                   </table>
   
                   <h3 class="text-center">SEMESTER 3</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG366</td>
                               <td>Marketing Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG206</td>
                               <td>Business Finance</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG115</td>
                               <td>Introduction to HRM</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>CS204</td>
                               <td>Management Information System</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                            <tr>
                               <td>MG301</td>
                               <td>Cost Accounting</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                         
                       </tbody>
                   </table>
   
                    <h3 class="text-center">SEMESTER 4</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG301</td>
                               <td>Financial Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG308</td>
                               <td>Business & Corporate Law</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG245</td>
                               <td>Organizational Behavior</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG411</td>
                               <td>Strategic Management</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                            <tr>
                               <td>MG404</td>
                               <td>Entrepreneurship</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                         
                       </tbody>
                   </table>
   
                    <h3 class="text-center">SEMESTER 5</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG551</td>
                               <td>Strategic Finance</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG552</td>
                               <td>Strategic Marketing</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG554</td>
                               <td>Strategic Human Resource Management</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG556</td>
                               <td>Leadership and Art of Management</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                           
                         
                       </tbody>
                   </table>
   
                    <h3 class="text-center">SEMESTER 6</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG562</td>
                               <td>International Business and Trade</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG563</td>
                               <td>New Venture Creation</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective I</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG699</td>
                               <td>Project (I)</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                            
                         
                       </tbody>
                   </table>
   
                    <h3 class="text-center">SEMESTER 7</h3>
                   <table class="table">
                       <thead style="background-color:#006666; color: white">
                           <tr>
                               <th>Course Code</th>
                               <th>Course Name</th>
                               <th>Credit Hours</th>
                               <th>Pre Req</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective II</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG57x</td>
                               <td>Elective III</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG572</td>
                               <td>Corporate Social Responsibility</td>
                               <td>3+0</td>
                               <td>None</td>
   
                           </tr>
                           <tr>
                               <td>MG699</td>
                               <td>Project (II)</td>
                               <td>3+0</td>
                               <td>None</td>
                           </tr>
                           
                         
                       </tbody>
                   </table>
   
                  
               </div>
           </div>
   </div>
   




{% endblock %}