{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-life-scienecs/MLT/sidebar-MLT.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS in Medical Lab Technology (MLT)</h2>
            <p class="justify" >Medical Laboratory Technology (MLT)
is one of the most rapidly expanding
health care fields. As a medical laboratory
technician, you will play an increasingly
important role in health care delivery. The
MLT Program provides extensive training,
including supervised clinical internship.
This program perpares highly compintent
medical laboroty technologiest. This
program provides students with both the
therotical and clicnical experance in various
ares of clicinal laborty science.</p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

