{% extends 'base.html' %}

{% block body %}
<style>
.x{
   width: 200px;

}
</style>
<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-computing/sidebar.html' with structure="active" %}
      </div>


  <div class="col-md-9 col-sm-9" id="static-content">
      <h4 style="font-family: 'Lato', sans-serif;" class="text-center">BS in Computer Science</h4>
            <p class="justify" style="text-align: justify">The basic intention of BS Program in Computer Science is to develop the student’s critical professional thinking and intuition. The program of study offers a structure to provide a balanced mixture of theory and practical experiences at foundation and advance levels to make the graduate capable of sound professional decisions. As a result, the graduate will be able to attain responsible positions in business, government, and higher education at the research, development, and planning levels. The Program also provides an excellent foundation for further formal learning, hands on experience and moral values. </p>




<h4 style="font-family: 'Lato', sans-serif;" class="text-center">BS in Software Engineering</h4>
            <p class="justify" style="text-align: justify">Software Engineering is the practice of creating and implementing large, reliable, efficient and economical software by applying the principles and practices of engineering. The basic intention of BS Program in Software Engineering is to train students in all aspects of software life cycle from requirements specification through analysis and design to testing, maintenance and evolution of software product; such that by means of critical analysis and creativity, reallife problems are addressed in an effective manner. </p>



</div>
</div>
<!-- End HOD Message -->
{% endblock %}
