{% extends 'base.html' %}

{% block body %}
<!-- Courses Section -->
<div class="container">


            <div class="table-responsive">
            	<h3 class="text-center">SEMESTER 1</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CS100</td>
                            <td>Introduction to Computing</td>
                            <td>3+0</td>
                            <td>None</td>

                        </tr>
                        <tr>
                            <td>CS106</td>
                            <td>Introduction to Computer Programming</td>
                            <td>3+1</td>
                            <td>None</td>

                        </tr>
                        <tr>
                            <td>MT100</td>
                            <td>Basic Mathematics</td>
                            <td>3+0</td>
                            <td>None</td>

                        </tr>
                        <tr>
                            <td>SS104</td>
                            <td>English-I (Comprehension)</td>
                            <td>3+0</td>
                            <td>None</td>

                        </tr>
                        <tr>
                            <td>SS108</td>
                            <td>Islamic Studies/Ethics (for Non-Muslims)</td>
                            <td>2+0</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>SS118</td>
                            <td>Pakistan Studies</td>
                            <td>2+0</td>
                            <td>None</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="text-center">SEMESTER 2</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EE101</td>
                            <td>Basic Electronics</td>
                            <td>3+0</td>
                            <td>None</td>

                        </tr>
                        <tr>
                            <td>CS200</td>
                            <td>Object Oriented Programming</td>
                            <td>3+1</td>
                            <td>CS106</td>

                        </tr>
                        <tr>
                            <td>SS124</td>
                            <td>English-II (Communication Skills)</td>
                            <td>3+0</td>
                            <td>SS104</td>

                        </tr>
                        <tr>
                            <td>MG100</td>
                            <td>Fundamental of Accounting</td>
                            <td>3+0</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>MT101</td>
                            <td>Calculus – I</td>
                            <td>3+0</td>
                            <td>MT100</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="text-center">SEMESTER 3</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MT201</td>
                            <td>Discrete Structure</td>
                            <td>3+0</td>
                            <td>MT100</td>

                        </tr>
                        <tr>
                            <td>SS211</td>
                            <td>English-III (Technical Report Writing)</td>
                            <td>3+0</td>
                            <td>SS124</td>

                        </tr>
                        <tr>
                            <td>MT102</td>
                            <td>Calculus - II</td>
                            <td>3+0</td>
                            <td>MT101</td>

                        </tr>
                        <tr>
                            <td>CS402</td>
                            <td>Visual Programming</td>
                            <td>3+0</td>
                            <td>CS200</td>
                        </tr>
                        <tr>
                            <td>CS210</td>
                            <td>Data Structure and Algorithm</td>
                            <td>3+1</td>
                            <td>CS106</td>
                        </tr>
                        <tr>
                            <td>CS210</td>
                            <td>Data Structure and Algorithm</td>
                            <td>3+1</td>
                            <td>CS106</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="text-center">SEMESTER 4</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>EE200</td>
                                <td>Digital Logic Design</td>
                                <td>3+1</td>
                                <td>EE101</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>SS218</td>
                                <td>Introduction to Psychology</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS251</td>
                                <td>Introduction to Software Development</td>
                                <td>3+0</td>
                                <td>CS100</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS221</td>
                                <td>Web Programming Language</td>
                                <td>3+0</td>
                                <td>CS106</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS210</td>
                                <td>Theory of Automata</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                </table>

                <h3 class="text-center">SEMESTER 5</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>MT221</td>
                                <td>Linear Algebra</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS207</td>
                                <td>Software Engineering</td>
                                <td>3+1</td>
                                <td>CS251</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS351</td>
                                <td>Computer Architecture and Organization</td>
                                <td>3+0</td>
                                <td>EE200</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS303</td>
                                <td>Operating System Concepts</td>
                                <td>3+1</td>
                                <td>CS210</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS375</td>
                                <td>Mobile Application Development</td>
                                <td>3+0</td>
                                <td>CS200</td>
                            </tr>
                        </tbody>
                    
                    </table>
                    <h3 class="text-center">SEMESTER 6</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>CS306</td>
                                <td>Data Communication and Computer Networks</td>
                                <td>3+0</td>
                                <td>CS100</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MT301</td>
                                <td>Probability and Statistics</td>
                                <td>3+0</td>
                                <td>MT201</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS390</td>
                                <td>Information Security</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CSxxx</td>
                                <td>Tech. Elective I</td>
                                <td>3+0</td>
                                <td>CS210</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS385</td>
                                <td>Database Management Systems</td>
                                <td>3+1</td>
                                <td>CS210</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS307</td>
                                <td>Artificial Intelligence</td>
                                <td>3+0</td>
                                <td>MT201</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS494</td>
                                <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                <td>2</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        </table>

                        <h3 class="text-center">SEMESTER 7</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>CSxxx</td>
                                <td>Tech. Elective II</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>SS401</td>
                                <td>Research Methodology and Professional Ethics</td>
                                <td>3+0</td>
                                <td>SS203</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS432</td>
                                <td>Human Computer Interaction</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS404</td>
                                <td>Analysis of Algorithms</td>
                                <td>3+0</td>
                                <td>CS210</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS499</td>
                                <td>Final Project I</td>
                                <td>0+3</td>
                                <td>None</td>
                            </tr>
                    </tbody>
</table>
                    <h3 class="text-center">SEMESTER 8</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>MG404</td>
                                <td>Entrepreneurship</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS408</td>
                                <td>Computer Graphics</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CSxxx</td>
                                <td>Tech. Elective III</td>
                                <td>3+0</td>
                                <td>None</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS499</td>
                                <td>Final Project II</td>
                                <td>0+3</td>
                                <td>None</td>
                            </tr>
                    </tbody>
                    </table>

                    <h3 class="text-center">Elective Courses</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>MT302</td>
                                <td>Numerical Analysis</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS395</td>
                                <td>Compiler Construction</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS399</td>
                                <td>Machine Vision</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS400</td>
                                <td>Digital Signal Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>SE318</td>
                                <td>Formal Methods</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS443</td>
                                <td>Digital Image Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS442</td>
                                <td>Oracle Programming</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS309</td>
                                <td>Distributed Database System</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS395</td>
                                <td>Java Programming</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS485</td>
                                <td>Advanced Operating System</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS412</td>
                                <td>Advanced Network Security</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS411</td>
                                <td>Concept of Programming Language</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS415</td>
                                <td>Advanced Computer Network</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS463</td>
                                <td>Artificial Neural Network</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS410</td>
                                <td>Fuzzy Logic</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS453</td>
                                <td>Digital Signal Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS456</td>
                                <td>Wireless Communication</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS483</td>
                                <td>Embedded System</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS444</td>
                                <td>System Programming</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS468</td>
                                <td>Mobile Communication</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS449</td>
                                <td>Multimedia Technology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS405</td>
                                <td>Data-warehousing and data mining</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS447</td>
                                <td>Software Metrics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS448</td>
                                <td>Software Engineering Economics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS450</td>
                                <td>Design Pattern</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS452</td>
                                <td>Distributed Computing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS453</td>
                                <td>Introduction to Soft Computing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS454</td>
                                <td>Real-time systems</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS456</td>
                                <td>Network Security and Encryption</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS468</td>
                                <td>Microprocessor Interfacing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS462</td>
                                <td>Bio-Informatics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS443</td>
                                <td>Web-Engineering</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS424</td>
                                <td>Software Project Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
<!-- End Courses Section -->
{% endblock %}