{% extends 'base.html' %} {% block body %}

<!-- HOD Message -->
<div class="container ">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-computing/sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h4 style="font-family: 'Lato', sans-serif;" class="text-center">BS in Computer Science</h4>
            <p class="justify">The BS Computer Science program is an important degree program at the campus. The program is designed very carefully
                to prepare students for ever changing computing industry. The BSCS program provides students with broad range
                of computer knowledge and practical skills required in most of the today businesses and industries. This
                program will provide the following benefits and opportunities to the students:</p>

            <ol>
                <li>Strong foundation in the computing discipline.</li>
                <li>Hand on practices suitable for employment.</li>
                <li>A number of specialization areas.</li>
                <li>Industrial internship program during study.</li>
                <li>Foreign qualified and experienced faculty.</li>
            </ol>
            <br>
            <br>
            <h4 style="font-family: 'Lato', sans-serif;" class="text-center">BS in Software Engineering</h4>
            <p class="justify">In a world where computers and software have become essential, the science of software engineering has become
                a very important field. BSSE program will provide the following benefits and opportunities to students:</p>

            <ol>
                <li>Program has been accredited from the National Computing Education Accreditation Council (NCEAC), HEC.</li>
                <li>Strong foundation in the software engineering discipline.</li>
                <li>Hands on practices suitable for employment.</li>
                <li>In depth knowledge about modeling, analysis, design and management of software systems.</li>
                <li>A number of specialization areas</li>
                <li>Double specialization opportunity</li>
                <li>Two internship programs during four years study</li>
            </ol>

            <h2 style="font-family: 'Lato', sans-serif;" class="text-center"><a  href="{% url 'slider:MSCS_info' %}">MS in Computer Science (MSCS)</h2>
            <p class="justify">MS in Computer Science is an advanced degree program in the area of computer sciences which is aimed at preparing students for advanced and research oriented jobs in the area. Most of the courses in this program are designed in such a way that students are required to exhibit high level skills in research activities. A 6 CrHr thesis is a compulsory part of the MS curriculum. The program covers all major areas of computer sciences core courses related to Algorithms, Operating System, Theory of Programming Languages and Computer Architecture are offered by this program. Apart from core courses students are also required to take courses from one of the specialization areas of their own choice to fulfill the requirements of MS degree at the University.</p>

            <h2 style="font-family: 'Lato', sans-serif;" class="text-center"><a style="color: black" href="{% url 'slider:MSSE_info' %}">MS in Software Engineering (MSSE)</h2>
            <p>MS in Software Engineering program is designed very carefully to cater for the need of various stakeholders. As software engineering is facilitating other sciences as well therefore the curriculum of MSSE is developed in such a way to prepare students to identify problems, provide solutions for the existing problems in commercial, financial, or other  types of organizations. This degree program integrates theoretical and practical aspects of computer science discipline and its applications to various business systems. The design and use of the computer based solution to variety of problems is another major aspect to be studied during the MSSE program.</p>
                    <h2 style="font-family: 'Lato', sans-serif;" class="text-center"><a style="color: black" href="#">MS Date Science (MSDS)</h2>
            <p>Data Science is a new discipline that sits at the nexus of computer science, statistics and business. Data scientists identify opportunities for organizations, by unearthing solutions to business challenges. Through data analysis, a data scientist identifies strategic and operational opportunities for organizations, whether they be large companies, small businesses, start-ups, government offices, or non-profit Organizations need to derive value from available data. Because of this need, data scientists are in great demand.
<br>The MS (DS) program has been designed to give students the option to be part of a data science endeavor that begins with the identification of business processes, determination of data provenance and data ownership, understanding the ecosystem of the business decisions, skill sets and tools that shape the data making data amenable to analytics, identifying sub-problems, recognizing the technology matrix required for problem resolution, creating incrementally-complex data-driven models and then maintaining them to ultimately leverage them for business growth.
</p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}