{% extends 'base.html' %} {% block body %}

<!-- HOD Message -->
<div class="container ">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-computing/sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h4 style="font-family: 'Lato', sans-serif;" class="text-center">Department of Computing</h4>
            <p style="text-align: justify">Department of Computing is foremost established department in Abasyn University Islamabad Campus with state of the art lab facilities and highly qualified faculty members. The mission of the department is dedicated to provide quality education to students so that they can be equipped with knowledge, leadership skills, ability to engage in life-long learning and professional integrity along with the strong sense of social responsibility. To achieve this mission, department offers an Outcome Based Education (OBE) system which is focused at achieving specific quality attributes that a student should have while progressing through the degree program and after being graduated from the university. For this purpose,
                the department has adopted the guidelines provided by Computing Accreditation Commission of ABET.</p>
            <p>The Department of Computing offers the following two 4 years (8 semesters) undergraduate degree programs:</p>
            <ol>
                <li>BS Computer Science (BSCS)</li>
                <li>BS Software Engineering (BSSE)</li>
            </ol>


        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}