{% extends 'base.html' %}

{% block body %}
<style>
.x{
   width: 200px;

}
</style>
<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-computing/sidebar.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">BSCS Program Structure</h2>

  <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="x">Category</th>
                                <th>Credit Hr.</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General Education</td>
                                <td>19</td>
                                <td>General Education Courses - Required by all AU students</td>
                            </tr>
                            <tr>
                                <td>Domain CS Core</td>
                                <td>24</td>
                                <td>Support area courses - Only required for students who are registered in Computer Science related degrees</td>
                            </tr>
                            <tr>
                                <td>Computing – Core Courses</td>
                                <td>39</td>
                                <td>Core courses of Computer Science</td>
                            </tr>
                            <tr>
                                <td>University Electives</td>
                                <td>12</td>
                                <td>General Education Courses</td>
                            </tr>
                            <tr>
                                <td>Mathematics & Science Foundation</td>
                                <td>12</td>
                                <td>Specialization courses</td>
                            </tr>
                            <tr>
                                <td>Industrial Training - Internship</td>
                                <td>02</td>
                                <td>Students will be required to complete one or two internships during the four years studies. In case of internship program cannot be offered due to any reason, students will be required to take courses from the job placement category</td>
                            </tr>
                            <tr>
                                <td>Domain CS Electives</td>
                                <td>15</td>
                                <td>Electives for CS domain</td>
                            </tr>
                            <tr>
                                <td>Domain CS Supporting</td>
                                <td>9</td>
                                <td>Supporting courses for CS domain.</td>
                            </tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td>132</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>




      <h2 style="font-family: 'Lato', sans-serif;" class="text-center">BSSE Program Structure</h2>
      <table class="table">
                        <thead>
                            <tr>
                                <th class="x">Category</th>
                                <th>Credit Hr.</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General Education</td>
                                <td>19</td>
                                <td>General Education Courses - Required by all AU students</td>
                            </tr>
                            <tr>
                                <td>Domain SE Core</td>
                                <td>24</td>
                                <td>Support area courses - Only required for students who are registered in Computer Science related degrees</td>
                            </tr>
                            <tr>
                                <td>Computing – Core Courses</td>
                                <td>39</td>
                                <td>Core courses of Computer Science</td>
                            </tr>
                            <tr>
                                <td>University Electives</td>
                                <td>12</td>
                                <td>General Education Courses</td>
                            </tr>
                            <tr>
                                <td>Mathematics & Science Foundation</td>
                                <td>12</td>
                                <td>Specialization courses</td>
                            </tr>
                            <tr>
                                <td>Industrial Training - Internship</td>
                                <td>02</td>
                                <td>Students will be required to complete one or two internships during the four years studies. In case of internship program cannot be offered due to any reason, students will be required to take courses from the job placement category</td>
                            </tr>
                            <tr>
                                <td>Domain SE Electives</td>
                                <td>15</td>
                                <td>Electives for SE domain</td>
                            </tr>
                            <tr>
                                <td>Domain SE Supporting</td>
                                <td>9</td>
                                <td>Supporting courses for SE domain.</td>
                            </tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td>132</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

              </div>

</div>
</div>
<!-- End HOD Message -->
{% endblock %}
