{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-computing/sidebar.html' with hod="active" %}
        </nav>
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
  <center><img src="/static/img/sidraz.jpg" class="img-rounded" width="10%"></center>
  <br>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of Computing and Technology</p>
  <br>
  <p class="justify">As far back as the foundation of this university, our essential objective for undergraduate students is to prepare future pioneers with astounding building training. The point of department of Computing and technology is to scatter information and advancements through quality educating, research and its applications in IT and Software orders. In our imaginative and appealing educational programs, we endeavor to acclimatize the most recent improvements in software, research, robotics, artificial intelligence, and computer hardware. </p>
  <p class="justify">
      Our committed workforce moved on from widely acclaimed university develops our driving edge inquire about projects in elements software, research, robotics, artificial intelligence and so forth. We endeavor to guarantee that all our young undergraduates have a solid training with administration, and joining abilities, temporary job understanding, and association in understudy exercises. We endow that complementing these zones will make our young understudies very much fit the bill to take positions of authority later on. 
  </p>

  <p class="justify">
      Software Engineers / Computer Scientist create best in class advances and invigorating answers for the humanity. We endeavor to furnish our understudies with a merry, profitable and fulfilling knowledge at all levels of their program of concentrates to investigate the stunning universe.
  </p>
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}