{% extends 'base.html' %} {% block body %}
<style>
        .footer1{
        margin-top:70px;
        }
    </style>
<div style="margin-top: 30px;" class="container">
    <div class="row">
            <div class="col-sm-3">
                    <nav class="nav-sidebar">
                        {% include 'department-computing/sidebar.html' with obe="active" %}
                    </nav>
                  </div>
        <div class="col-md-9 col-sm-9">
            <h1 style="background: #006666; color: white;">&nbsp;Outcome Based Education</h1>
            <h4>Program Educational Objectives (PEOs) for BSCS</h4>
            <P>The Program Educational Objectives describe the career and professional accomplishments that the graduates are expected to attain within a few years of graduation. The Program Educational Objectives (PEOs) are focused on to produce BSCS graduates who:</P>
            <ol>
                <li>
                    Are competent, employable and demonstrate sound knowledge and skills meeting needs of the modern computing practice and software industry.
                </li>
                <li>
                    Are effective in communication and interpersonal skills with high professional and ethical standards.
                </li>
                <li>
                    Are engaged in continuous pursuit of knowledge through research, continuous education and/or professional development.
                </li>
            </ol>
            <br>
            <h4>Program Learning Outcomes (PLOs) Mapping to Curriculum for BSCS</h4>
            <P>Program learning outcomes serve as a guide for students and faculty to ensure that our students are knowledgeable and competitive in their future professions. By the time of graduation, the program enables students to:</P>
            <ol type="a">
                <li>Apply knowledge of computing and mathematics appropriate to the discipline.</li>
                <li>Analyze a problem, and identify and define the computing requirements appropriate to its solution.</li>
                <li>Design, implement and evaluate a computer-based system, process, component, or program to meet desired needs.</li>
                <li>Function effectively on teams to accomplish a common goal.</li>
                <li>Understand professional, ethical, legal, security, and social issues and responsibilities.</li>
                <li>Communicate effectively with a range of audience.</li>
                <li>Analyze the local and global impact of computing on individuals, organizations and society.</li>
                <li>Recognize the need for, and an ability to engage in, continuing professional development.</li>
                <li>Use current techniques, skills, and tools necessary for computing practice.</li>
            </ol>
            <br>
                        <h4>Program Educational Objectives (PEOs) for BSSE</h4>
            <P>The Program Educational Objectives describe the career and professional accomplishments that the graduates are expected to attain within a few years of graduation. The Program Educational Objectives (PEOs) are focused on to produce BSSE graduates who:</P>
            <ol>
                <li>
                    Are competent, employable and demonstrate sound knowledge and skills meeting needs of the modern computing practice and software industry.
                </li>
                <li>
                    Are effective in communication and interpersonal skills with high professional and ethical standards.
                </li>
                <li>
                    Are engaged in continuous pursuit of knowledge through research, continuous education and/or professional development.
                </li>
            </ol>
            <br>
            <h4>Program Learning Outcomes (PLOs) Mapping to Curriculum for BSSE</h4>
            <P>Program learning outcomes serve as guidelines that describe what students are expected to know and be able to do by the time of graduation. These relate to the knowledge, skills and attitude that the students acquire while progressing through the program:</P>
            <ol type="a">
                <li>Apply knowledge of mathematics, science and engineering.</li>
                <li>Design and conduct experiments, as well as to analyze and interpret data.</li>
                <li>Design a system, component, or process to meet desired needs within realistic constraints such as economic, environmental, social, political, ethical, health and safety, manufacturability, and sustainability.</li>
                <li>Function on multidisciplinary teams.</li>
                <li>Identify, formulate and solve engineering problems.</li>
                <li>Understand professional and ethical responsibility.</li>
                <li>Communicate effectively</li>
                <li>Understand the impact of engineering solutions in a global, economic, environmental and societal context.</li>
                <li>Recognize the need for, and an ability to engage in life-long learning.</li>
                <li>Harness knowledge of contemporary issues.</li>
                <li>Use the techniques, skills, and modern engineering tools necessary for engineering practice. </li>

            </ol>



        </div>
    </div>
</div>
{% endblock %}