{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-english/sidebar-english.html' with hod="active" %}
        </nav>
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
  <center><img src=" {% static "/img/Ms-Khola.jpg" %}" class="img-rounded" width="10%"></center>
  <br>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of English</p>
  <br>
  <p class="justify">As a group, we make an energetic scholarly network which is completely ready to grow its understudies' semantic and abstract skylines. This is accomplished through addresses, workshops, courses and workforce understudy connection. Our teachers persuade the understudies to tailor their individual comprehension of dialect and writing, and encourage them in reacting to their scholarly and pre-proficient requirements. Essentially, we welcome outstanding writers and researchers for their astute addresses and readings. </p>
  <p class="justify">
      We brag that our understudies, upon graduation, abandon us having broad hypothetical information about English dialect and writing. Concerning our exploration based projects, these are intended to furnish our understudies with abilities in free request, basic reasoning, profitable interlocution, innovation – all that is required for leading a significant scholarly research in postgraduate examinations. We likewise brag our best in class offices which incorporate an all around supplied college library, and completely prepared PC labs, online research databases, and in addition printing and examining offices. 

  </p>

  <p class="justify">
  
I am anticipating seeing you at Department of English Language and Literature and wish every one of our understudies and graduates proceeded with development and accomplishment in their instructive and expert undertakings.
  </p>
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}