{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSCS//MSCS-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">MS in Computer Sciences</h2>
            <p class="justify" >MS in Computer Science, offered by the department of the computing, is an advanced degree program in the area of computer sciences. The program is aimed at preparing students for advanced and research oriented jobs in the area. Most of the courses in this program are designed in such a way that students are required to exhibit high level skills in research activities.  Apart from core courses, students are also required to take courses from one of the specialization areas of their own choice to fulfill the requirements of MS degree. </p>

        </div>
    </div>
</div>

{% endblock %}

