{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSCS//MSCS-sidebar.html' with courses="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">

        <div class="table-responsive">

            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>CSC504</td>
                                    <td>Advanced Computer Architecture</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC551</td>
                                    <td>Advanced Programming</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC507</td>
                                    <td>Information Theory</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC508</td>
                                    <td>Numerical Method</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC522</td>
                                    <td>Fuzzy Logic</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CS523</td>
                                    <td>Genetic Algorithm</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC513</td>
                                    <td>Advanced Network Security</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC514</td>
                                    <td>Advanced Network Programming</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC521</td>
                                    <td>Advanced Artificial Neural Networks</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC515</td>
                                    <td>Mobile Computing</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC531</td>
                                    <td>Advanced Software Engineering Techniques</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC532</td>
                                    <td>Software Quality Assurance</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            
            </table>

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
              <tbody>
                                <tr>
                                    <td>CSC502</td>
                                    <td>Advanced Theory of Computing </td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Elective I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>CSC501</td>
                                    <td>Advanced Design and Analysis of Algorithm</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Elective II</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Elective III</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Elective IV</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Specilization-I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC599</td>
                                    <td>Thesis-I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>CSC5XX</td>
                                    <td>Specilization-I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>CSC599</td>
                                    <td>Thesis-II</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>



{% endblock %}