{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-business/psychology/sidebar-psychology.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS Psychology</h2>
            <p class="justify">The BS English is 8 semesters (4 years) program offered by the department of Management and Social Sciences. The BS Psychology program integrates the scientific foundation of psychology with a strong background of humanities and basic sciences to better prepare students for the advanced training in psychology, medicine, cognitive science, neuroscience, and other related disciplines.
This degree can lead to a wide range of careers. They can go on to work as a psychologist, advertising manager, admission and career counsellor, psychiatrist, child welfare worker, gerontologist, market research analyst, public relations manager, social worker, speech pathologist, or numerous other occupations. Many progress to related postgraduate courses. </p>
            <p></p>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

