{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-math/sidebar-math.html' with structure="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
           <h4 class="text-center" style="font-family: 'Lato', sans-serif;">BS in  Mathematics</h4>
            <p align="justify">Limited access of poor people to quality education in Mathematics and increasing rate of unemployment has resulted in many socio-economic problems in the country. We strongly believe that using modern mathematical techniques and the targeting market and industrial needs, BS Mathematics program can produce more positive result. We will provide a successful BS Mathematics Program for community development at Abasyn University which will prove itself fruitful by bringing the change in the society.
            <a style="font-size: 12px;color: #00aeef" href="{% url "slider:math_foreword" %}">Read more</a></p>
            <h4 class="text-center" style="font-family: 'Lato', sans-serif;">BS in Statistics</h4>
            <p align="justify">Department of Mathematical and Statistical Sciences is offering a 4-years BS degree program in Statistics. Program has been designed according to the scheme of studies approved by the Higher Education Commission (HEC) of Pakistan to assure the quality education to equalize it with national and international standards. Department has offered a variety of courses
to have the benefit of a flexible curricular program. The program aims to produce quality students who are able to prepare themselves for advance studies, teaching and research in statistics as well as careers in other related disciplines. In this regard Mathematics department will provide them with possible facilities and guidance.
            <a style="font-size: 12px;color: #00aeef" href="{% url "slider:stats_foreword" %}">Read more</a></p>

        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

