{% extends 'base.html' %} {% block body %}
<div class="container" style="margin-top: 110px;">


    <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-btech-civil/sidebar-btech-civil.html' with courses="active" %}
        </nav>
    </div>

    <div class="col-md-9 col-sm-9" id="static-content">
        <div class="table-responsive">

            <h3 class="text-center" style="margin-bottom:20px;">Trimester I </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>MT101</td>

                        <td>Calculus - I</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT200</td>

                        <td>Concrete Technology </td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>NS201</td>

                        <td>Applied Physics</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CS100</td>

                        <td>Computer Fundamentals</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>



                </tbody>

            </table>

            <h3 class="text-center" style="margin-bottom:20px;">Trimester II </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>SS202</td>

                        <td>Communication Skills </td>

                        <td>2+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>MT102</td>

                        <td>Calculus- II</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT123</td>

                        <td>Surveying - I</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td> SS120</td>

                        <td>Pak Studies</td>

                        <td>2+0</td>

                        <td>None</td>

                    </tr>

                    <tr>

                        <td>CT125</td>

                        <td>Engineering Geology</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>





                </tbody>

            </table>

            <h3 class="text-center" style="margin-bottom:20px;">Trimester III </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>CT131</td>

                        <td>Surveying- II</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT133</td>

                        <td>Material & Method of Construction</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT203 </td>

                        <td>Differential Equations</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>SS121 </td>

                        <td>Islamic Studies</td>

                        <td>2+0</td>

                        <td>None</td>

                    </tr>

                </tbody>

            </table>





            <h3 class="text-center" style="margin-bottom:20px;">Trimester IV </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>MT211</td>

                        <td>Complex Variables & Transform</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td> CT212</td>

                        <td>Soil Mechanics - I </td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT126</td>

                        <td>Fluid Mechanics - I</td>

                        <td>3+0</td>

                        <td>None</td>



                    </tr>

                </tbody>

            </table>





            <h3 class="text-center" style="margin-bottom:20px;">Trimester V </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>CT221</td>

                        <td>Theory of Structures - I</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT222</td>

                        <td>Soil Mechanics - 2</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT223 </td>

                        <td>Material Testing Repair and Maintenance</td>

                        <td>2+1</td>

                        <td>None</td>



                    </tr>

                    <tr>

                        <td>CT220 </td>

                        <td>Fluid Mechanics - II</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>



                </tbody>

            </table>





            <h3 class="text-center" style="margin-bottom:20px;">Trimester VI </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>



                    <tr>

                        <td>CT231 </td>

                        <td>Highway and Transportation Engineering - I </td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT233 </td>

                        <td>Foundation and Pavements</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT234 </td>

                        <td>Theory of Structures - II</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT332 </td>

                        <td>Water Supply and Waste Water Management - I</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>



            </table>





            <h3 class="text-center" style="margin-bottom:20px;">Trimester VII</h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>CT311 </td>

                        <td>Water Supply and Waste Water Management — II</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT312 </td>

                        <td>Highway and Transportation Engineering — II</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT313 </td>

                        <td>Introduction to Earth quake Engineering</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>

                </tbody>



            </table>





            <h3 class="text-center" style="margin-bottom:20px;">Trimester VIII </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tr>

                    <td>CT321 </td>

                    <td>Irrigation and Hydraulic Structure</td>

                    <td>2+1</td>

                    <td>None</td>

                </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT322 </td>

                        <td>Reinforced Concrete Structures - I</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT323 </td>

                        <td>Hydrology - I</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>



            </table>



            <h3 class="text-center" style="margin-bottom:20px;">Trimester IX </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tr>

                    <td>CT331</td>

                    <td>Hydrology - II</td>

                    <td>2+1</td>

                    <td>None</td>

                </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT332 </td>

                        <td>Reinforced Concrete Structures - II</td>

                        <td>2+1</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT333 </td>

                        <td>Steel Structures - I</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>MT333 </td>

                        <td>Numerical Analysis</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>

                </tbody>



            </table>

            <h3 class="text-center" style="margin-bottom:20px;">Trimester X </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tr>

                    <td>CT411 </td>

                    <td>Steel Structures — II</td>

                    <td>3+0</td>

                    <td>None</td>

                </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT412 </td>

                        <td>Quantity Surveying & Contract Document </td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT413 </td>

                        <td>Engineering Economics</td>

                        <td>3+0</td>

                        <td>None</td>

                    </tr>

                </tbody>





            </table>



            <h3 class="text-center" style="margin-bottom:20px;">Trimester XI </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tr>

                    <td>CT421 </td>

                    <td> Industrial Training Program (ITP-1)</td>

                    <td>0+6</td>

                    <td>None</td>

                </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CH422 </td>

                        <td>Industrial Management</td>

                        <td>2+0</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>EH423 </td>

                        <td>Engineering Drawing</td>

                        <td>0+2</td>

                        <td>None</td>

                    </tr>

                </tbody>





            </table>







            <h3 class="text-center" style="margin-bottom:20px;">Trimester XII </h3>

            <table class="table">

                <thead style="background-color:#006666; color: white">

                    <tr>

                        <th>Course Code</th>

                        <th>Course Name</th>

                        <th>Credit Hours</th>

                        <th>Pre Req</th>

                    </tr>

                </thead>

                <tr>

                    <td>CT431 </td>

                    <td> Industrial Training Program (ITP — 2)</td>

                    <td>0+6</td>

                    <td>None</td>

                </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>SS432 </td>

                        <td>Technical Report Writing</td>

                        <td>2+0</td>

                        <td>None</td>

                    </tr>

                </tbody>

                <tbody>

                    <tr>

                        <td>CT433 </td>

                        <td>Project </td>

                        <td>0+6</td>

                        <td>None</td>

                    </tr>

                </tbody>





            </table>
        </div>
    </div>
</div>
{% endblock %}