{% extends 'base.html' %}

{% block body %}
{% load static %}
<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-btech-civil/sidebar-btech-civil.html' with hod="active" %}
        </nav>
      </div>
      <div class="col-md-9 col-sm-9" id="static-content">
          <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
          <center><img src='{% static "img/HOD/hod-civil.png" %}' class="img-rounded" width="10%"></center>
          <br>
          <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of Civil Technology </p>
          <br>
          <p class="justify">The office, which is the most youthful inside the Faculty of Technology  has globally prepared personnel, very much prepared labs and framework offices, in accordance with Higher Education Commission (HEC) prerequisites. </p>
          <p class="justify">
              The primary clump of understudies, Insha Allah, will graduate in June, 2013. Having worked with worldwide associations and establishments in different limits, for example, Director, Advisor, Professor and Researcher it is my at-most want and would like to make this division, as truly outstanding in the nation, known for its scholarly perfection and amazing graduates.
          </p>
        
         
          </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}