{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-electrical/EE/sidebar-EE.html' with info="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
      <h1 class="text-center" style="font-family: 'Lato', sans-serif;">BE in Electrical Engineering</h1>
            <p class="justify" align="justify">Since launching of the program in fall 2012, BEEE is progressing rapidly to become a promising program in developing professional electrical engineers. The department has a capacity to accommodate 160 undergraduate students. EE labs are well equipped with the state-of-the-art equipment for its undergraduate program.<br><br>
                The BEEE program is designed to produce quality professional engineers with abilities to design, manage and operate electrical engineering-based projects. The program effectively provides a strong foundation for those wishing to pursue a career in electrical engineering through a diverse range of theoretical knowledge and practical skills. The program is based on solid foundations of mathematics and sciences and hands on training in well-equipped labs augmented by industrial visits and study tours.  </p>
      <h4  class="text-center" style="font-family: 'Lato', sans-serif;"  style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Program(BEEE) Mission</h4>
            <p class="justify" align="justify">The mission of the Electrical Engineering department is to “excel in quality education and research adhering to a sense of social responsibility and teamwork skills”</p>
       <h4>Program Educational Objectives (PEOs)</h4>
            <p>The curriculum of Electrical degree of Abasyn University Islamabad Campus covers all Program Educational Objectives (PEOs) of the program.</p>

    The graduates of BEEE program are expected to
            <ol>

<li>Be competent engineers who exhibit theoretical and practical knowledge in industry
    and/or academia.</li>
                <li>Practice engineering in an ethical and socially responsible manner.</li>
                <li>Demonstrate interpersonal and management skills and engage in professional growth.</li>
</ol>


            <h4>Program Learning Outcomes (PLOs)</h4>
            <p>The curriculum of Electrical degree of Abasyn University Islamabad Campus covers all twelve program learning outcomes (PLOs) of the program.</p>
The graduates of Electrical Engineering program will attain the following attributes:

            <ol >

<li><strong>Engineering Knowledge:</strong> An ability to apply knowledge of mathematics, science and
engineering fundamentals and an engineering specialization to the solution of complex
    engineering problems.</li>
<li><strong>Problem Analysis:</strong> An ability to identify, formulate, research literature, and analyze
complex engineering problems reaching substantiated conclusions using first principles
                of mathematics, natural sciences and engineering sciences.</li>
<li><strong>Design/Development of Solutions:</strong> An ability to design solutions for complex
engineering problems and design systems, components or processes that meet the
specified needs with appropriate consideration for public health and safety, cultural,
                societal, and environmental considerations.</li>
<li><strong>Investigation:</strong> An ability to investigate complex engineering problems in a methodical
way including literature survey, design and conduct of experiments, analysis and
interpretation of experimental data, and synthesis of information to derive valid
                conclusions.</li>
<li><strong>Modern Tool Usage:</strong> An ability to create, select and apply appropriate techniques,
resources, and modern engineering and IT tools, including prediction and modelling to
                complex engineering activities, with an understanding of the limitations.</li>
<li><strong>The Engineer and Society:</strong> An ability to apply reasoning informed by contextual knowledge
to assess societal, health, safety, legal and cultural issues and the consequent responsibilities
                relevant to professional engineering practice and solution to complex engineering problems.</li>
<li><strong>Environment and Sustainability:</strong> An ability to understand the impact of professional
engineering solutions in societal and environmental contexts and demonstrate knowledge
                of and need for sustainable development.</li>
<li><strong>Ethics:</strong> Apply ethical principles and commit to professional ethics and responsibilities
                and norms of engineering practice.</li>

<li><strong>Individual and Team Work:</strong> An ability to work effectively as an individual or in a
                team, on multifaceted and/or multidisciplinary settings.</li>
<li><strong>Communication:</strong> An ability to communicate effectively, orally as well as in writing, on
complex engineering activities with the engineering community and with society at large,
such as being able to comprehend and write effective reports and design documentation,
                make effective presentations, and give and receive clear instructions.</li>
<li><strong>Project Management:</strong> An ability to demonstrate management skills and apply
engineering principles to one’s own work, as a member and/or leader in a team, to
                manage projects in a multidisciplinary environment.</li>
<li><strong>Lifelong Learning:</strong> An ability to recognize importance of, and pursue lifelong learning
                in the broader context of innovation and technological developments.</li>
            </ol>



                
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
