<nav class="nav-sidebar">
    <ul class="nav">

        
      <li class="{{ info }}">
        <a href="{% url 'slider:EE_foreword' %}">Foreword</a>
      </li>
      <li class="{{ courses }}">
        <a href="{% url 'slider:EE_courses' %}">Semester Plan</a>
      </li>
     <li class="{{ electives }}">
        <a href="{% url 'slider:EE_electives' %}">Electives</a>
      </li>
      <li class="{{ faculity }}">
        <a href="{% url 'slider:staff-electrical' %}">Faculty</a>
      </li>


      <li>
          <a  href="{{admission.link}}">Apply Online</a>
      </li>
      <li>
        <a target="_blank" href="{% url 'slider:feestructure' %}">Fee Structure</a>
      </li>
    </ul>
  </nav>