{% extends 'base.html' %}

{% block body %}



<div class="team-section padding80">
    <div class="container">

          <div class="row text-center">
                <div class="row">
                        <div class="col-sm-3 col-md-3 text-left">
                            {% include 'department-life-scienecs/HND/sidebar-HND.html' with faculity="active" %}
                        </div>
            <div class="col-md-9 col-sm-9">
                
                <div class="sec-title">
                    <h2>FACULTY MEMBERS</h2>
                    <div class="divider-line text-center"></div>
                </div>
                
                {%for staff in object_list%}
                
              <div class="col-md-4 col-sm-6">
                <div class="team-box">
                <div class="team-img">
                   <center> <img src="{{staff.profile.url}}"></center>
                </div>
                <div class="team-title">
                    <h3>{{staff.name}}</h3>

                    <p>{{staff.designation}}</p>
                </div>
            </div>
            </div>
            
            {%endfor%}
            </div>
        </div>
        
    </div>
</div>
</div>
{% endblock %}
