{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-business/sidebar-business.html' with hod="active" %}
        </nav>
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
  <center><img src="{% static "/img/Ms-Khola.jpg" %}" class="img-rounded" width="10%"></center>
  <br>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of Management Sciences</p>
  <br>
  <p class="justify">It is to be sure a matter of respect and benefit to show and speak to a standout amongst the most unique gatherings of researchers at AUIC. Administration Sciences office is a stage for supporting the future pioneers in business, research and critical thinking for national and worldwide associations.</p>
  <p class="justify">
      We have the qualities of decent variety, target introduction, cooperation, national and worldwide coordinated efforts other than a peaceful and ideal condition for studies and research. 
  </p>

  <p class="justify">
      Administration Sciences has the way of life of national and worldwide classes, close contact with mechanical specialists, visit exposures of understudies to down to earth work-life and in-house limit working of understudies. 

      A scope of scholastic projects are offered at undergrad (BS), graduate (Masters) and postgraduate (PhD) level in the fields of Business, Economics, Finance, Marketing, HR, Project Management and Banking. Every one of these regions are completely supported by solid research gatherings, giving a refreshed investigation of contemporary issues in the business world.
  </p>
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}