{% extends 'base.html' %}

{% block body %}
<!-- Courses Section -->
<div class="container">
        <div class="col-sm-3">
                <nav class="nav-sidebar">
                    {% include 'department-computing/CS/sidebar.html' with elective="active" %}
                </nav>
              </div>
              <div class="col-md-9 col-sm-9" id="static-content">
            <div class="table-responsive">


                    <h3 class="text-center">Elective Courses</h3>
                <table class="table">
                    <thead style="background-color:#006666; color: white">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Pre Req</th>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                                <td>CS442</td>
                                <td>Advanced Database Programming</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS309</td>
                                <td>Distributed Database Systems</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS315</td>
                                <td>Data Warehousing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS316</td>
                                <td>Data Mining</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS317</td>
                                <td>Object Oriented Database Systems</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS338</td>
                                <td>Management Information System</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS433</td>
                                <td>Graph Databases</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS407</td>
                                <td>e-Commerce/Business</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CSxxx</td>
                                <td>Cyber Security</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS415</td>
                                <td>Advanced Computer Networks</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS431</td>
                                <td>Multimedia Networks</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS217</td>
                                <td>Visual Programming  </td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS375</td>
                                <td>Mobile Application Development</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS428</td>
                                <td>Network Security and Cryptography</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS318</td>
                                <td>Network System Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS409</td>
                                <td>Wireless Networks Communication</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS319</td>
                                <td>Network Simulation</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS336</td>
                                <td>Network Security Architecture</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS409</td>
                                <td>Ad-hoc Networks</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS410</td>
                                <td>Software-Defined Networks</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS463</td>
                                <td>Artificial Neural Network</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS310</td>
                                <td>Financial Accounting Software</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS432</td>
                                <td>Human Computer Interaction</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS413</td>
                                <td>Web Engineering</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS414</td>
                                <td>Semantic Web</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS421</td>
                                <td>Web Security</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS221</td>
                                <td>Web Programming Language</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS494</td>
                                <td>Special Topics in Computer Science*</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS443</td>
                                <td>Digital Image Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS208</td>
                                <td>Modern Programming Languages</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS334</td>
                                <td>Big-Data Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS335</td>
                                <td>Cloud Computing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS429</td>
                                <td>Embedded and Real Time Systems</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                                        <tbody>
                            <tr>
                                <td>CS430</td>
                                <td>Microprocessor Interfacing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>BT346</td>
                                <td>Bio-Informatics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS410</td>
                                <td>Fuzzy Logic</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS424</td>
                                <td>Machine Learning</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS411</td>
                                <td>Computer Vision</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS412</td>
                                <td>Natural Language Processing</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS337</td>
                                <td>Decision Support System</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS339</td>
                                <td>Intelligent Agents</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>                        <tbody>
                            <tr>
                                <td>CS468</td>
                                <td>Mobile Communication</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

            </div>
            </div>
        </div>
<!-- End Courses Section -->
{% endblock %}