{% extends 'base.html' %}

{% block body %}

<div class="container">
    

        <div class="table-responsive">
            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MS501</td>
                        <td>Advanced Research Methods & Quantitative Tools</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                        <td>MS516</td>
                        <td>Applied Statistics for Management</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                        <td>MSxxx</td>
                        <td>Core I</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    
                  
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSxxx</td>
                        <td>Core II</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                        <td>MSxxx</td>
                        <td>Core III</td>
                        <td>3+0</td>
                        <td>CS106</td>

                    </tr>
                    <tr>
                        <td>MSxxx</td>
                        <td>Elective I</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                   
                    
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSxxx</td>
                        <td>Elective II</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                        <td>MSxxx</td>
                        <td>Thesis (I)</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                    
                  
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSxxx</td>
                        <td>Elective III</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                        <td>MSxxx</td>
                        <td>Thesis (II)</td>
                        <td>3+0</td>
                        <td>None</td>

                    </tr>
                    <tr>
                    
                  
                </tbody>
            </table>
        </div>
    </div>






{% endblock %}