{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-pharmacy/sidebar-pharmacy.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Program Structure</h2>


                <h2>Doctor of Pharmacy</h2>
                <p class="text-justify">The Department of Pharmacy offers five years Doctor of Pharmacy (PharmD) program. The university has built infrastructure including spacious lecture halls equipped with the latest audio visual aids and well equipped labs to support students of this department for their practical work. Highly qualified faculty members are present for the teaching and preparing the students to become the pharmacists with sense of social and professional responsibility. State of the art library and other facilities are available
                     at the campus. Formal launch of the program has been granted by Pharmacy Council of Pakistan.</p>              
                <br/>
                <h2>Mission</h2>
                <p class="text-justify">To prepare the graduates who have the capacity, up-to-date knowledge, strong ethical values, behavior, communication, writing and social skills that enable them to pursue career in:</p>
                <ol>
                    <li>Pharmaceutical care in health systems and community environment where appropriate medication usage and patient's safety is paramount.</li>
                    <li>Pharmaceutical industry and its quality systems.</li>
                    <li>Academia, research and development.</li>
                </ol>
                <p class="text-justify">To prepare pharmacy graduates whose scientific knowledge and skills enable them to work with the pace to ensure the quality in the design, manufacture, distribution and safe and effective use of pharmaceuticals in the society and clinical settings.</p>
                <br/>
                <h2>Objectives</h2>
                <ol>
                <li class="text-justify">To keep pace with the advancements in the modern sciences.</li>
                <li>To prepare the students to fulfill the industrial needs well versed with the basic medical 
                and pharmaceutical sciences in order to prepare a dosage regimen for an individual patient.</li>
                <li>To undertake a comprehensive community pharmacy practice.</li>
                <li>Internships in various disciplines of pharmacy to enable students to have hands on experience.</li>
                <li>To make our graduates more skillful, competitive and knowledgeable both practically and theoretically.</li>
                <li>To cater the local and international pharmacy needs.</li>
                <li>To make a health care practitioner who is expert in the use of medicine in all practical fields 
                and are capable of disease state management specially to improve public health at large.</li>
                <li>To prepare pharmacy graduates for better pharmacy practice in areas including clinical, community, hospital and industrial pharmacy. </li>
                <li>To prepare graduates who, upon graduation, have the capacity, knowledge and capability to;</li>
                <ol type="a">
                <li>Enhance patient safety by safe medication usage in community and health care systems</li>
                <li>Work in the pharmaceutical industry and its quality systems</li>
                <li>Engage in academics and research i.e. practice and academics.</li>
                <li>Prepare students as good human beings in serving the community i.e. ethics, communication skills, writing skills, behavior.</li>
                <li>Become an effective member of health care team as well as society.</li>
                </ol>
                <br/>
                <h2>Programs Offered</h2>
                <a class="btn btn-primary" href="{% url 'slider:pharmacy_courses'%}">View Programs</a>

  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
