{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-pharmacy/sidebar-pharmacy.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Program Structure</h2>


                <h4>Doctor of Pharmacy</h4>
               <p style="color: black" class="justify">The department follows the latest updated curriculum developed by HEC and Pharmacy Council of
Pakistan. The curriculum spans the basic medical and pharmaceutical sciences and other allied
courses like English, Islamic studies etc. The program comprises of ten semesters and a total of 197
credit hours. The curriculum comprises of five main domains and general courses:
               <br>
                   <ol >
      <li style="color: black"><strong>Pharmaceutics(Total 56 Cr. Hr)</strong>
      <p>Pharmaceutics includes courses that deal with the basic principles and their application to pharmaceuticals, their manufacturing and testing. These courses provide a basic knowledge about physicochemical principles as applied in pharmacy, knowledge of various forms of medicine, microbiological principles involved, manufacturing of pharmaceuticals in industry and their quality control testing. </p></li>
      <li style="color: black"><strong>Pharmaceutical chemistry(Total 32 Cr. Hr)</strong><p>It includes courses which deal with basic chemistry of pharmaceuticals e.g., molecular structure of drugs, structure activity relationships and their application to pharmaceuticals manufacturing and testing. </p></li>
      <li style="color: black"><strong>Pharmacognosy(Total 16 Cr. Hr)</strong><p>It includes course which give knowledge of natural sources of medicine like botanical, mineral and animal sources and their extraction and use in pharmacy. </p></li>
      <li style="color: black"><strong>Basic medical sciences(Total 32 Cr. Hr)</strong><p>The courses in this area give knowledge about normal functioning of the body (physiology), diseases (pathology) and basic principles of the treatment of the diseases.</p></li>
      <li style="color: black"><strong>Pharmacy practice(Total 51 Cr. Hr)</strong><p>It includes courses which deal with the practice of pharmacy incommunity pharmacy and healthcare sector. It deals with the patient care and their treatment plan to achieve the best of the treatment.</p></li>
      <li style="color: black"><strong>General courses(Total 10 Cr. Hr)</strong><p>These include English, Islamic studies and Pakistan studies courses. </p></li>
      </ol>
                   </p>
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
