{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="table-responsive"> 
        <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 1</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
            <tbody>
                            <tr>
                                <td>SS104</td>
                                <td>English-I (Comprehension)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD103</td>
                                <td>Pharmaceutics-IA (Physical Pharmacy)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD101</td>
                                <td>Pharmaceutical Chemistry-IA (Organic)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD102</td>
                                <td>Pharmaceutical Chemistry-IIA (Biochemistry)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD104</td>
                                <td>Physiology-A</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD105</td>
                                <td>Anatomy & Histology</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
        <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 2</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
            <tbody>
                            <tr>
                                <td>SS125</td>
                                <td>English-II (Technical Writing & Communication)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD127</td>
                                <td>Pharmaceutics-IB (Physical Pharmacy)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD123</td>
                                <td>Pharmaceutical Chemistry-IB (Organic)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD126</td>
                                <td>Pharmaceutical Chemistry-IIB (Biochemistry)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD128</td>
                                <td>Physiology-B</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
        <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 3</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
           <tbody>
                            <tr>
                                <td>SS106</td>
                                <td>Islamic Studies</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD201</td>
                                <td>Pharmaceutics-IIA (Dosage Forms Science)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD204</td>
                                <td>Pharmaceutics-IIIA (Pharmaceutical Microbiology & Immunology)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD202</td>
                                <td>Pharmacology and Therapeutics-IA</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD203</td>
                                <td>Pharmacognosy-IA (Basic)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MT211</td>
                                <td>Pharmacy Practice-IB (Pharmaceutical Mathematics)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
  

  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 4</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
           <tbody>
                            <tr>
                                <td>SS147</td>
                                <td>Pakistan Studies</td>
                                <td>2+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD221</td>
                                <td>Pharmaceutics-IIB (Dosage Forms Science)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD224</td>
                                <td>Pharmaceutics-IIIB (Pharmaceutical Microbiology & Immunology)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD222</td>
                                <td>Pharmacology and Therapeutics-IB</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD223</td>
                                <td>Pharmacognosy-IB (Basic)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MT226</td>
                                <td>Pharmacy Practice-III (Bio-statistics)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
   

  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 5</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
            <tbody>
                            <tr>
                                <td>PD305</td>
                                <td>Pharmacy Practice-IIA (Dispensing Pharmacy)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD304</td>
                                <td>Pharmaceutical Chemistry-IIIA (Pharmaceutical Analysis)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD302</td>
                                <td>Pharmacology and Therapeutics-IIA</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD303</td>
                                <td>Pharmacognosy-IIA (Advanced)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD301</td>
                                <td>Pathology</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
  

  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 6</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
           <tbody>
                            <tr>
                                <td>PD328</td>
                                <td>Pharmacy Practice-IIB (Community, Social & Administrative Pharmacy)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD327</td>
                                <td>Pharmaceutical Chemistry-IIIB (Pharmaceutical Analysis)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD325</td>
                                <td>Pharmacology and Therapeutics-IIB</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD326</td>
                                <td>Pharmacognosy-IIB (Advanced)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>CS100</td>
                                <td>Pharmacy Practice-IA (Introduction to Computing)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
   

  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 7</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
            <tbody>
                            <tr>
                                <td>PD330</td>
                                <td>Pharmacy Practice-IVA (Hospital Pharmacy-I)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD331</td>
                                <td>Pharmacy Practice-VA (Clinical Pharmacy-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD332</td>
                                <td>Pharmaceutics-IVA (Industrial Pharmacy-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD334</td>
                                <td>Pharmaceutics-VA (Biopharmaceutics & Pharmacokinetics-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD335</td>
                                <td>Pharmaceutics-VIA (Pharmaceutical Quality Management-I)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
   

  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 8</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
            <tbody>
                            <tr>
                                <td>PD401</td>
                                <td>Pharmacy Practice-IVB (Hospital Pharmacy-II)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD402</td>
                                <td>Pharmacy Practice-VB (Clinical Pharmacy-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD403</td>
                                <td>Pharmaceutics-IVB (Industrial Pharmacy-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD404</td>
                                <td>Pharmaceutics-VB (Biopharmaceutics & Pharmacokinetics-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD405</td>
                                <td>Pharmaceutics-VIB (Pharmaceutical Quality Management-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
    


  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 9</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
           <tbody>
                            <tr>
                                <td>PD432</td>
                                <td>Pharmaceutics-VIIA (Pharmaceutical Technology-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD431</td>
                                <td>Pharmacy Practice-VIA (Advanced Clinical Pharmacy-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD433</td>
                                <td>Pharmacy Practice-VIIA (Forensic Pharmacy- I)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD434</td>
                                <td>Pharmacy Practice-VIIIA (Pharmaceutical Management & Marketing-I)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD430</td>
                                <td>Pharmaceutical Chemistry-IVA (Medicinal Chemistry-I)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
 
    
  <h3 class="text-center" style="margin-bottom:20px;">SEMESTER 10</h3>
        <table class="table">
            <thead style="background-color:#006666; color: white">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Pre Req</th>
                </tr>
            </thead>
           <tbody>
                            <tr>
                                <td>PD442</td>
                                <td>Pharmaceutics- VIIB (Pharmaceutical Technology-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD441</td>
                                <td>Pharmacy Practice-VIB (Advanced Clinical Pharmacy-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD443</td>
                                <td>Pharmacy Practice-VIIB (Forensic Pharmacy-II)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD444</td>
                                <td>Pharmacy Practice-VIIIB (Pharmaceutical Management & Marketing-II)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PD440</td>
                                <td>Pharmaceutical Chemistry-IVB (Medicinal Chemistry-II)</td>
                                <td>3+1</td>
                                <td></td>
                            </tr>
                        </tbody>
        </table>
    </div>
</div>
    
{% endblock %}

