{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-pharmacy/sidebar-pharmacy.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">Department of Pharmacy</h2>
            <p class="justify" align="justify">The Department of Pharmacy has gone through a remarkable transition with an unprecedented growth in the size and quality of our students, faculty and infrastructure. The department provides a unique educational experience, combining the best in classroom, state-of-art laboratories, and attached hospitals under the direction of qualified faculty. The department promotes excellence in pharmaceutical sciences by encouraging active learning in a conducive environment.</p>

        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

