{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-pharmacy/sidebar-pharmacy.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Doctor of Pharmacy</h2>

            <p class="justify">The Department of Pharmacy offers 5-year Doctor of Pharmacy (Pharm-D) program. The department follows the HEC curriculum that not only provides a solid foundation of the discipline, but also equips the students with required knowledge and skills required to practice as a quality health care professional to serve the community, hospital and industry.
            <a style="font-size: 12px;color: #00aeef" href="{% url "slider:PD_foreword" %}">Read more</a>
            </p>


  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
