{% extends 'base.html' %}

{% block body %}

<div class="container">

    <div class="col-sm-3">
        {% include 'department-graduate/MSSE//MSSE-sidebar.html' with courses="active" %}
    </div>
    <div class="col-md-9 col-sm-9" id="static-content">
        <div class="table-responsive">

            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SE511</td>
                        <td>Formal Methods in Software Engineering</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE512</td>
                        <td>Software Risk Management</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE513</td>
                        <td>Software Design Patterns</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE514</td>
                        <td>Software Measurement and Metrics</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE515</td>
                        <td>Software Engineering Processes</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE516</td>
                        <td>Software Engineering for Web based and Distributed Systems</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE518</td>
                        <td>Software Costing and Estimation</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE519</td>
                        <td>Business Process Modeling</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE520</td>
                        <td>Personal Software Process</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE522</td>
                        <td>Theory of Programming Languages</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE523</td>
                        <td>Special topics in Software Engineering</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE524</td>
                        <td>Software Testing</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE525</td>
                        <td>Advanced programming</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE526</td>
                        <td>Advanced Software Engineering Techniques</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE257</td>
                        <td>Agile Software Development</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE258</td>
                        <td>Human Factors in Software Engineering</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SEZSQ</td>
                        <td>Engineering for Enterprise Information</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE259</td>
                        <td>Software Engineering for Enterprise Information</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE300</td>
                        <td>Machine Learning Applications in Software Engineering</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE301</td>
                        <td>Advanced Object Oriented Software design</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE302</td>
                        <td>Software Engineering using UML</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SE502</td>
                        <td>Software Quality Assurance</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE501</td>
                        <td>Software Requirement Engineering</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>

            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective-l</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective-ll</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective lll</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective-IV</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective-V</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SE599</td>
                        <td>Thesis (I)</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SE599 </td>
                        <td>Thesis (II)</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>SExxx</td>
                        <td>Elective-VI</td>
                        <td>3+0</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}