{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSSE//MSSE-sidebar.html' with structure="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
                <h2 style="font-family: 'Lato', sans-serif;">Area of Specialization</h2>
                <ol>
                        <li>Software Testing</li>
                        <li>Software Quality Management</li>
                        <li>Software Project Management</li>
                    </ol>

                    <h2 style="font-family: 'Lato', sans-serif;">Program Structure</h2>
                    <table class="table text-left">
                            <tbody><tr>
                                <th>Category</th>
                                <th>CrHr</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>Core Courses</td>
                                <td>15</td>
                                <td>Core courses are compulsory. A list of five core courses is designed as per the HEC criteria.</td>
                            </tr>
                            <tr>
                                <td>Elective Courses</td>
                                <td>09</td>
                                <td>A number of specialization areas have been identified. Students are required to take three course from this category</td>
                            </tr>
                            <tr>
                                <td>Thesis</td>
                                <td>06</td>
                                <td>Intensive research to be conducted under the supervision of a faculty member</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th>30</th>
                                <th></th>
                            </tr>
                        </tbody></table>
             <br>
             <br>
              <h2 style="font-family: 'Lato', sans-serif;">View Courses</h2>
              <a href="{% url 'slider:MSSE-courses' %}" class="btn btn-primary">View Courses</a>

        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

