{% extends 'base.html' %}

{% block body %}

<div class="container">
    

        <div class="table-responsive">

            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Random Variable and Stochastic Processes</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC507</td>
                                    <td>Wireless Communication</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC514</td>
                                    <td>Networks Design</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC531</td>
                                    <td>Network Comm & Performance Engineering</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC532</td>
                                    <td>Switching Systems</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC533</td>
                                    <td>Satellite Communication</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC513</td>
                                    <td>Advanced Network Security</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC534</td>
                                    <td>Signal Processing in Wireless Communication</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC521</td>
                                    <td>Advanced Artificial Neural Networks</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC535</td>
                                    <td>IP Telephony</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC514</td>
                                    <td>Advanced Network Programming</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC515</td>
                                    <td>Mobile Computing</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC536</td>
                                    <td>Application Development for Mobile Devices</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC542</td>
                                    <td>Industry overview and telecommunication management</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC543</td>
                                    <td>Telecom System Analysis and Planning and Design</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC544</td>
                                    <td>International Telecommunication Management</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC537</td>
                                    <td>Advanced Telecom and Mobile Networking Lab</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC545</td>
                                    <td>Financial Decision Making and Risk Analysis</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Next Generation Network (NGN)</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC514</td>
                                    <td>Advanced Network Programming</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
              <tbody>
                                <tr>
                                    <td>TLC512</td>
                                    <td>Advanced Data Networks</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Mathematical Methods in Communication</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC508</td>
                                    <td>Advanced Digital Signal Processing</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Elective I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC503</td>
                                    <td>Digital Communication</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                                <tr>
                                    <td>TLC509</td>
                                    <td>Wireless Communication Networks</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Elective II</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC599</td>
                                    <td>Thesis (I)</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>TLC5XX</td>
                                    <td>Elective III</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TLC599</td>
                                    <td>Thesis (II)</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>
        </div>
    </div>



{% endblock %}