{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSTN//MSTN-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">MS in Telecommunication & Networks</h2>
            <p class="justify" >MS in Telecommunication & Networks is an advanced course designed to enable the students to take on the current challenges to the telecommunication industry and be prepared for the challenges of tomorrow. The program is designed to impart both theoretical knowledge and practical skills to its students The MSTN program provides students with broad range of knowledge and practical skills required to excel in telecom industry today. Students are also introduced to a number of latest computer tools to enable them to work in the industry without an on job training. The program provides an opportunity to students to choose a specific area of the discipline for their specialization. The whole degree program consists of 30 credit hours. Jowever, the number of credit hours may be more in case students have not completed 4 years engineering education after F.Sc/A-Level.</p>
        </div>
    </div>
</div>

{% endblock %}

