{% extends 'base.html' %}

{% block body %}

<div class="container">
    

        <div class="table-responsive">

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
             <tbody>
                            <tr>
                                <td>MB501</td>
                                <td>Microbial Anatomy and Physiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB502</td>
                                <td>Immuno-biology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB503</td>
                                <td>Soil Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB504</td>
                                <td>Pathogenic Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB505</td>
                                <td>Biostatistics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
              <tbody>
                            <tr>
                                <td>MB511</td>
                                <td>Microbial Genetics</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB512</td>
                                <td>General Virology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB513</td>
                                <td>Environment Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB514</td>
                                <td>Research Methodology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB515</td>
                                <td>General Mycology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>MB601</td>
                                <td>Molecular Immunology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB602</td>
                                <td>Microbial Diversity</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB603</td>
                                <td>Clinical Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB604</td>
                                <td>Food and Dairy Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB605</td>
                                <td>Molecular Mechanism of Antimicrobial Drugs</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                            <tr>
                                <td>MB611</td>
                                <td>Industrial Microbiology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB612</td>
                                <td>Parasitology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB613</td>
                                <td>Microbial Metabolism</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB699</td>
                                <td>Thesis/Project</td>
                                <td>6+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>
            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                            <tr>
                                <td>MB622</td>
                                <td>Principles of Gene Manipulation</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>MB621</td>
                                <td>Microbial Biotechnology</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>
        </div>
    </div>








{% endblock %}