{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-electronics/sidebar-de.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS in ELECTRONICS</h2>
            <p align="justify" class="justify" >The recent growth in Electronics industry and the demand of state of the art electronic
equipment invokes the need of skilled professionals in the field of Electronics. In this regard the
Department of Electronics offers a 4-year BS program in Electronics. The curriculum of BS
Electronics is designed to inculcate the required knowledge and skills in the prospective
learners who can cope with the fast growing field of electronics. The educational objectives and
learning outcomes of the proposed program will not only equip the prospective students with
the required industrial skills but also open career opportunities in the field of electronics,
telecommunication companies, wireless communication, RADAR systems, Satellite
communication, mobile phone manufacturing and so on and so forth.
            </p>
            <h4>Program Educational Objectives (PEOs)</h4>
            <p>The graduates of the BS Electronics program are expected to:
            <ol>
            <li>exhibit sufficient hands-on skills and problem-solving mindset, in order to contribute
effectively in the profession.</li>
            <li>exhibit good communication skills, ethical behavior and effective leadership to become
a responsible professional of the society.</li>
        </ol></p>
            <h4>Program Learning Outcomes (PLOs)</h4>
            <p>The graduate of BS Electronics, at the time of graduation are expected to have the following
attributes and outcomes:
            <ol>
            <li>Ability to apply knowledge of mathematics and sciences in the field of electronics.</li>
            <li>Ability to identify scientific problems, as well as to analyze and interpret data</li>
            <li>Ability to formulate or design electronic systems as well as to solve problems related to
the discipline</li>
            <li>Ability to use the techniques, skills, and modern scientific tools necessary for
professional practice</li>
            <li>Ability to function effectively in multidisciplinary teams</li>
            <li>Ability to apply ethical principles and commit to professional ethics and responsibilities</li>
            <li>Ability to communicate effectively both verbally and in writing</li>
            <li>Ability to understand the impact of scientific solutions in a global and societal context</li>
            <li>Ability to recognize importance and engagement in lifelong learning</li>
            <li>Ability to demonstrate effective leadership and decision-making skills.</li>
        </ol></p>
        </div>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br>
<!-- End HOD Message -->
{% endblock %}

