{% extends 'base.html' %} {% block body %}

<!-- HOD Message -->
<div class="container ">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-electronics/sidebar-de.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h1 style="font-family: 'Lato', sans-serif;" class="text-center">Department of Electronics</h1>
            <p style="text-align: justify">The Department of Electronics is developed along the modern lines which are tailored to impart and strengthen the students’ knowledge and skills in electronics and its related specialities. The Department has excellent teaching and learning facilities available to the students and faculty. The students in the department enjoy a friendly and scholarly environment. They are encouraged to participate in various academics, sports and extra-curricular activities. Presently, the Department offers a 4-year BS program in Electronics.</p>


        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}