{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSPM//MSPM-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">MS in Project Management</h2>
            <p class="justify" align="justify" >MS in Project Management (MSPM) is becoming a paramount academic qualification for project managers, technical entrepreneurs, and software developers working at various levels and different professions.
<br>Project Management enables managers to conceive, initiate, plan, execute, control and evaluate effective projects by utilizing the theoretical and practical set of skill upon which this program is focused intensively.
<br>The degree program is purposefully designed to benefit through following curriculums adapted from PMBOK (Project Management Body of Knowledge) and beyond. Managers, GMs, Technocrats, Manufacturers, Consultants, Entrepreneurs, Engineers, Technological Experts, Scientists, and Technical Managers would find this  lucrative opportunity to enhance their project management skill set.
<br>The curriculum of MSPM is developed in such a way to equip project managers witha diversified skill set so they can comprehend a holistic design of organizational operations and their relationship to project management. Areas in strategic management, financial, marketing, and technology entrepreneurship are included in this program to expand the knowledge and value base of professionals</p>
        </div>
    </div>
</div>

{% endblock %}

