{% extends 'base.html' %}

{% block body %}

<div class="container">
    

        <div class="table-responsive">

            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Project Stakeholders Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Innovation & Technology Entrepreneurship</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Financial Management in Projects</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Project Integration and Supply Chains Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Engineering Systems Modelling</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Project Stakeholders Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM6XX</td>
                                <td>Research Methods for Project Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                            <tr>
                                <td>PM601</td>
                                <td>Scope and Time Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM602</td>
                                <td>Contract and Procurement Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>EM6XX</td>
                                <td>Elective I</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>PM606</td>
                                <td>Project Cost and Risk Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>PM605</td>
                                <td>Project Communication and HR Management</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>EM6XX</td>
                                <td>Elective II</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>PM603</td>
                                <td>TQM in Projects</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>EM6XX</td>
                                <td>Elective III</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>TH601</td>
                                <td>Thesis (I)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                            <tr>
                                <td>TH602</td>
                                <td>Thesis (II)</td>
                                <td>3+0</td>
                                <td></td>
                            </tr>
                        </tbody>
            </table>
        </div>
    </div>




{% endblock %}