{% load static %}
<img style="margin-top: -140px" src="{%  static 'img/logo12.png' %}" align="right">
<p style="margin-top: 20px;font-size: 15px" align="right">Date: <strong>August 6th 2019</strong></p>
<p style="margin-top: 0px;font-size: 15px">Name: <strong>{{ name }}</strong></p>
<p style="margin-top: 0px;font-size: 15px">Form No: <strong>{{ id }}</strong></p>
<p style="margin-top: 20px;font-size: 15px" >Subject: <strong><u>Admission offer in {{ program }} Fall 2019 Semester</u></strong></p>
<p style="margin-top: 20px;font-size: 15px" >Dear Student,</p>
<p style="margin-top: 20px;font-size: 15px" ><strong>Congratulations!</strong> We are pleased to inform that you have been selected for the admission to
    the subject program for the Fall 2019 semester.</p>
<p style="font-size: 15px"><strong>Note: <u>This offer is provisional, subject to verification of submitted documents and the final
    results (if awaiting).</u></strong></p>
<p style="margin-top: 10px;font-size: 15px" >To avail this offer, you are required to deposit fee (as per attached Fee Voucher) using the
following methods:</p>
<p style="font-size: 15px">
    <ul>
    <li style="font-size: 15px">Habib Bank Limited, I-9 Industrial Area Branch, Islamabad, A/C # 02967900504403</li>
    <li style="font-size: 15px">The fee can be deposited in <strong><u>"Any HBL Branch without any EXTRA Charges"</u></strong></li>
    <li style="font-size: 15px">Through Bank Draft / Pay Order in favour of "Abasyn University Fee Collection A/C"</li>
</ul>
</p>

<p style="font-size: 15px">We hope this opportunity will prove to be an important milestone in your life and will be a
beginning of a successful future.</p>
<p style="font-size: 15px"><strong>Note:</strong> <u>You are advised to communicate to the "Finance Office" <strong>(Tel # 051-8438427 &
    E-mail Address: financeoffice@abasynisb.edu.pk)</strong> in case you are unable to follow
    the deadline for fee payment.</u></p>
<p style="font-size: 15px">If you have any query, please feel free to contact us.</p>
<p style="font-size: 15px;">With best regards,</p>

<p style="margin-top: 80px;font-size: 15px"><strong>Sher Wali Khan</strong></p>
<p style="font-size: 15px;margin-top: -20px">Director (Admissions)</p>

<hr size="2" style="margin-top: 25px">
<p align="center" style="font-size: 12px"><strong>Park Road Chak Shahzad, Islamabad</strong></p>
<p align="center" style="font-size: 12px;"><strong>Phone: 051-111-222-796 Fax: 051-8438325 Cell No. 0300-9189006</strong></p>





