{% load static %}
<img style="margin-top: -140px" src="{%  static 'img/logo12.png' %}" align="right">
<p style="margin-top: 20px;font-size: 15px" align="right">Date: <strong>August 6th 2019</strong></p>
<p style="margin-top: 0px;font-size: 15px">Name: <strong>{{ name }}</strong></p>
<p style="margin-top: 0px;font-size: 15px">Form No: <strong>{{ id }}</strong></p>
<p style="margin-top: 20px;font-size: 15px" >Subject: <strong><u>Admission offer in {{ program }} Fall 2019 Semester</u></strong></p>
<p style="margin-top: 20px;font-size: 15px" >Dear Student,</p>
<p style="margin-top: 20px;font-size: 15px" ><strong>Congratulations!</strong> We are pleased to inform that you have been selected for the admission to
    the subject program for the Fall 2019 semester.</p>
<p style="font-size: 15px"><strong>Note: <u>This offer is provisional, subject to verification of submitted documents and the final
    results (if awaiting).</u></strong></p>
<p style="margin-top: 10px;font-size: 15px" >To avail this offer, you are required to deposit fee (as per attached Fee Voucher) using the
following methods:</p>
<p style="font-size: 15px">
    <ul>
    <li style="font-size: 15px">Habib Bank Limited, I-9 Industrial Area Branch, Islamabad, A/C # 02967900504403</li>
    <li style="font-size: 15px">The fee can be deposited in <strong><u>"Any HBL Branch without any EXTRA Charges"</u></strong></li>
    <li style="font-size: 15px">Through Bank Draft / Pay Order in favour of "Abasyn University Fee Collection A/C"</li>
</ul>
</p>

<p style="font-size: 15px">We hope this opportunity will prove to be an important milestone in your life and will be a
beginning of a successful future.</p>
<p style="font-size: 15px"><strong>Note:</strong> <u>You are advised to communicate to the "Finance Office" <strong>(Tel # 051-8438427 &
    E-mail Address: financeoffice@abasynisb.edu.pk)</strong> in case you are unable to follow
    the deadline for fee payment.</u></p>
<p style="font-size: 15px">If you have any query, please feel free to contact us.</p>
<p style="font-size: 15px;">With best regards,</p>

<p style="margin-top: 80px;font-size: 15px"><strong>Sher Wali Khan</strong></p>
<p style="font-size: 15px;margin-top: -20px">Director (Admissions)</p>

<hr size="2" style="margin-top: 25px">
<p align="center" style="font-size: 12px"><strong>Park Road Chak Shahzad, Islamabad</strong></p>
<p align="center" style="font-size: 12px;"><strong>Phone: 051-111-222-796 Fax: 051-8438325 Cell No. 0300-9189006</strong></p>

<img style="margin-top: -180px" src="{%  static 'img/logo12.png' %}" align="right">
<p style="font-size: 20px" align="center"><strong><u>Brief Guidelines for Students</u></strong></p>
<p style="font-size: 16px" ><strong>Orientation and Beginning of classes:</strong></p>
<ul>
    <li style="font-size: 15px">Orientation & beginning of classes <strong>(MS Programs)</strong> will be held from <strong>September 06, 2019  </strong> </li>
    <li style="font-size: 15px">Orientation & beginning of classes <strong>(BS/BE Programs)</strong> will be held from <strong>August 26, 2019</strong></li>
</ul>

<p style="font-size: 16px"><strong>Fee:</strong></p>

<ul >
    <li style="font-size: 15px">Last date for fee submission is <strong>Friday, August 16, 2019</strong></li>
    <li style="font-size: 15px">Fee must be deposited within the stipulated time period <strong>through attached fee voucher.</strong></li>
    <li style="font-size: 15px">Fee can be paid through a Bank Draft or Pay Order in favour of  <strong>"Abasyn University Fee Collection A/C"</strong></li>
    <li style="font-size: 15px">Fee can also be deposited online in <strong>any HBL Branch without any extra charges.</strong></li>
    <li style="font-size: 15px">For further queries regarding fee only, please contact Finance Office or call at <strong>051-8438427</strong></li>
</ul>

<p style="font-size: 16px"><strong>Refundable / Non-Refundable (As per HEC Policy):</strong></p>

<ul>
    <li style="font-size: 15px">Admission fee & Semester Reg./Misc. Fee are <strong><u>NON-REFUNDABLE</u></strong> in any case.</li>
    <li style="font-size: 15px">Refund of Tuition fee only within 07 days - <strong>100%</strong></li>
    <li style="font-size: 15px">Refund of Tuition fee only within 15 days - <strong>50%</strong></li>
    <li style="font-size: 15px"><strong>After 15 days from the start of classes (Dates are mentioned above), application for refund of fee will not be entertained</strong></li>
</ul>

<p style="font-size: 16px"><strong>Boys Hostel:</strong></p>
<p  style="font-size: 15px">On campus hostel facility is available for boys on discounted rates (Starting from <strong>Rs. 8,500/-</strong> Only)
Contact # 0348-0002202 & 0333-6824303
</p>
<p style="font-size: 16px"><strong>Girls Hostel:</strong></p>
<p  style="font-size: 15px">On campus hostel facility is available for girls on discounted rates (Starting from <strong>Rs. 10,000/-</strong> Only)
Contact # 051-8448688 & 0334-8084786
</p>
<p style="font-size: 16px"><strong>Transport Service:</strong></p>
<p  style="font-size: 15px">Transport Facility is also available for all students on discounted rates.
Contact # 0336-8844496 & 0313-0554572
</p>


<hr size="2" style="margin-top: 25px" >
<p align="center" style="font-size: 12px"><strong>Park Road Chak Shahzad, Islamabad</strong></p>
<p align="center" style="font-size: 12px;"><strong>Phone: 051-111-222-796 Fax: 051-8438325 Cell No. 0300-9189006</strong></p>
