{% extends 'base.html' %} {% block body %}
<style>
    .footer1 {
        margin-top: 200px;
    }
</style>
<div style="margin-top: 30px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="background: #006666; color: white;">&nbsp;Department of Technology</h1>
            <p align="justify">Department of Technology offers 4-year BTech (Hons) programs in civil, electrical and mechanical technologies. Equipped with state-of-the-art laboratories and qualified faculty, the technology programs aim at providing strong practical skills with theoretical back ground to enable student to pursue successful careers in their respective fields</p>

            <div align="center"><a style="color: black" href="{% url 'slider:hod-btech-civil' %}">Bachelor of technology Civil</a></div>
            <p>The B. Tech Civil Engineering program has been carefully designed to enable graduates to undertake planning, designing, construction, operation and maintenance of urban and rural infrastructure by

applying his/her knowledge in all stages of Civil Engineering projects. The students are extensively exposed to the real civil engineering projects that equip them to work in an industrial environment.
            </p>
            <div align="center"><a style="color: black" href="{% url 'slider:hod-btech-electrical' %}">Bachelor of technology Electrical</a></div>
            <p>The B. Tech Electrical Engineering program has been carefully designed to enable graduates to undertake operation and maintenance of electrical appliances by applying his/her knowledge in all stages

of Electrical Engineering projects. The students are extensively exposed to the real electrical engineering projects that equip them to work in an industrial environment.
            </p>
            <div align="center"><a style="color: black" href="{% url 'slider:hod-btech-mechanical' %}">Bachelor of technology Mechanical</a></div>
            <p>The B. Tech Mechanical Technology program has been designed to enable graduates to undertake planning, designing, construction, operation and maintenance of mechanical appliances by applying his/
her knowledge in all stages of mechanical engineering projects. The students are extensively exposed to the real-world mechanical engineering projects that equip them to work in an industrial environment.</p>
        </div>
    </div>
</div>
{% endblock %}