{% extends 'base.html' %} {% block body %}

<style>
    .footer1 {
        margin-top: 200px;
    }
</style>

<div class="container" style="margin-top: 60px;">
        <div class="col-sm-3">
                {% include 'admission&aids/admission&aids-sidebar.html' with financial="active" %}
            </div>
          
            <div id="static-content" class="col-md-9">
   


        <div id="static-content" class="col-md-12">
            <h1 style="background:#006666;color:white;">&nbsp;Financial Aid</h1>
            <p style="text-align:justify">The University is well aware of the economic conditions of the country. Therefore, the University has exceptionally
                subsidized tuition fee of all of the academic programs. The fee structure varies from program to program.
                The fee is charged on credit hour basis during each semester. In addition to tuition fee, students are also
                required to deposit Rs. 5,000/- as admission fee (one time) at the time of admission. The University reserves
                the right to change the fee structure without prior notice to students. Tuition Fees at Abasyn University
                are quite affordable as compared to others. Details can be obtained from Admission Office.</p>

      

</div>
    </div>
</div>

{% endblock %}