{% extends 'base.html' %} {% block body %}
<div style="margin-top: 30px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="background: #006666; color: white;">&nbsp;Journal of Social Sciences</h1>
            <p style="margin-top: 10px;">
                The Abasyn University Journal of Social Sciences (AJSS) is a multidisciplinary peer reviewed open access journal that is
                published on six monthly bases. The AJSS intends to serve as an open platform for academia, researchers and
                civil society to communicate their ides, views and research findings across the cultures. The journal strives
                to provide quality research publications that meet the general criteria of significance and scientific excellence.
                The management of the AJSS is committed to complete peer review process with in two months (maximum) and
                informs the author about the acceptance or otherwise about the paper accordingly. ISSN: 1998-152X
                <br>
                <strong>EISSN: 2221-6782</strong>
                <br> Abasyn Journal of Social Sciences (AJSS) publishes rigorous, well written articles from a range of theoretical
                and methodological traditions. Articles that engage with contemporary challenges in social sciences and research
                that highlight innovation in the field.
            </p>
            <h2>Coverage</h2>
            <ol>
                <li>Human Resource Management</li>
                <li>Human Resource Development</li>
                <li>Education</li>
                <li>Marketing</li>
                <li>Finance</li>
                <li>Adverting</li>
                <li>IT in Business</li>
                <li>Entrepreneurship</li>
                <li>Employment</li>
                <li>Any other related topics</li>
            </ol>
            <h2>Why read AJSS?</h2>
            <p>AJSS is a forum to exchange ideas, share knowledge and develop scholarly work. The journal provide avenues to
                both academics and practitioners alike to enhance the boundaries of knowledge.</p>
            <h2>AJSS is indexed and abstracted in:</h2>
            <ul>
                <li>EBSCO Host</li>
                <li>Cabell’s Directories</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}