{% extends 'base.html' %} {% block body %}
<style>
    .footer1 {
        margin-top: 200px;
    }
</style>

<div style="margin-top: 30px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="background: #006666; color: white;">&nbsp;Department of Life Scienecs</h1>
            <p align="justify">The Department of Life Sciences offers undergraduates programs in Microbiology, Phycial Therapy, Radiology Technology and Medical Lab Technology, Human Nutrition & Dietetics, Environmental Sciences, Prosthetic & Orthotics. It also offers MSc. and M.Phil Programs in Microbiology.</p>
            <ol>
                <li>
                    <a style="color: black" href="{% url 'slider:micro_info' %}">BS in Microbiology BSMB</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:DPT_info' %}">Doctor of Physical Therapy DPT</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:MLT_info' %}">BS in Medical Lab Technology(MLT)</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:HND_info' %}">BS in Human Nutrition & Dietetics</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:RT_info' %}">BS in Radiology Technology</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:PO_info' %}">BS in Prosthetic  & Orthotics</a>
                </li>
                <li>
                    <a style="color: black" href="{% url 'slider:BSBIO_info' %}">BS in Biochemistry</a>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}