{% extends 'base.html' %}

{% block body %}
<style>
    .footer1 {
        margin-top: 200px;
    }
</style>
<div style="margin-top: 30px;" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="background: #006666; color: white;">&nbsp;Department of Management & Social Sciences</h1>
                <p align="justify">The Department of Management & Social Sciences is one of most accomplished and reputed department.  The department provides students with a stimulating environment in which students can acquire a superior level of business, linguistics, literary, communicative, cultural and humanistic competences broad enough to make them operate  in  diverse  walks of life quite  effectively   and efficiently. The Department has established a diversified academic portfolio of undergraduate programs in Business Administration, English and Psychology.</p>
                <ol>
                    <li><a style="color: black" href="{% url 'slider:business_info' %}">Bachelor in Business Administration (BBA)</a></li>
                    <li><a style="color: black" href="{% url 'slider:psychology_info' %}">BS Psychology</a></li>
                    <li><a style="color: black" href="{% url 'slider:english_info' %}">BS English</a></li>
                    </ol>
            </div>
        </div>
        </div>
{% endblock %}