{% extends 'base.html' %}

{% block body %}
<div style="margin-top: 30px;" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="background: #006666; color: white;">&nbsp;Graduate Programs</h1>
                <ol>

                    <li><a style="color: black" href="{% url 'slider:Mgst_info' %}">MS in Management Science MSMgt</a></li>
                    <li><a style="color: black" href="{% url 'slider:MSPM_info' %}">MS in Project Management MSPM</a></li>
                    <li><a style="color: black" href="{% url 'slider:MSCS_info' %}">MS in Computer Science MSCS</a></li>
                    <li><a style="color: black" href="{% url 'slider:MSDS_info' %}">MS in Data Science MSDS</a></li>
                    <li><a style="color: black" href="{% url 'slider:MSEE_info' %}">MS in Electrical Engineering MSEE</a></li>
                    <li><a style="color: black" href="{% url 'slider:MSCMB_info' %}">MSc in Microbiology MSCMB</a></li>
                    <li><a style="color: black" href="{% url 'slider:MphilMB_info' %}">Mphil in Microbiology MphilMB</a></li>

                    </ol>
            </div>
        </div>
        </div>
{% endblock %}