{% extends 'base.html' %}

{% block body %}
<div style="margin-top: 30px;" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="background: #006666; color: white;">&nbsp;Graduate Programs</h1>
                <ol>
                    <li><a style="color: black" href="{% url 'slider:MBA_info' %}">Master in Business Administration MBA</a></li>
                    <li><a style="color: black" href="{% url 'slider:Mgst_info' %}">MS in Management Science MSMgt</li>
                    <li><a style="color: black" href="{% url 'slider:MSEM_info' %}">MS in Engineering Management MSEM</li>
                    <li><a style="color: black" href="{% url 'slider:MSLSM_info' %}">MS in Logistic and Supply Chain Management MSLSM</li>
                    <li><a style="color: black" href="{% url 'slider:MSPM_info' %}">MS in Project Management MSPM</li>
                    <li><a style="color: black" href="{% url 'slider:MSCS_info' %}">MS in Computer Science MSCS</li>
                    <li><a style="color: black" href="{% url 'slider:MSSE_info' %}">MS in Software Engineering MSSE</li>
                    <li><a style="color: black" href="{% url 'slider:MSTN_info' %}">MS in Telecommunication & Networks MSTN</li>
                    <li><a style="color: black" href="{% url 'slider:MSEE_info' %}">MS in Electrical Engineering MSEE</li>
                    <li><a style="color: black" href="{% url 'slider:MSCMB_info' %}">MSc in Microbiology MSCMB</li>
                    </ol>
            </div>
        </div>
        </div>
{% endblock %}