{% extends 'base.html' %}

{% block body %}

<div class="container" style="margin-top: 60px;">
    <div class="row">
<div class="col-md-12" id="static-content">
				<h1 style="background:#006666;color:white;">&nbsp;Aims and Objectives</h1>
				<p>The main objective of the university is to provide high quality, comprehensive educational, training and research opportunities that produce highly qualified graduates and responsible citizens who are able to meet the needs of all sectors of human activity. The University offers to its students relevant qualifications, including professional training,
                    which combine high-level knowledge and skills, using courses and content continually tailored to the present and future needs of society.</p>
				<h2>&nbsp;General Goals</h2>
                <p>General goals of the university are:</p>
                <ol>
		<li>To pursue excellence in education and research by developing relevant curriculum, hired talented faculty, create conducive environment and develop infra structure to support quality education and research</li>
		<li>To produce graduates who possess high quality ability to contribute toward the development of society. The high quality ability combines both professional and humanistic competence.</li>
		<li>To educate the whole person rather than produce graduates.</li>
		<li>To encourage students to challenge current theories and practices.</li>
		<li>To encourage student to break new grounds and cultivate leadership quality.</li>
		<li>To promote awareness and importance of both education and research in achieving a competitive status among other nations.</li>
		<li>To relate fundamental concepts to practical applications, and provide students with the necessary skills to function as responsible professionals.</li>
		<li>To use a variety of modern mechanisms to adopt appropriate new technologies and methodologies.</li>
		<li>To analyze organizations’ information requirements and match them with available technologies and methods.</li>
		<li>To develop strong interpersonal and communication skills of its graduates.</li>
	        </ol>
        <br>
        <h2>Benefits to Students</h2>
    <p>Studying at the Abasyn University aims to provide relevant education which will provide many career opportunities to them. Students with the relevant education and degree will be placed for internship in challenging environment in order to prepare them for job. In fulfilling the mission of the Abasyn University cultivates in its students:</p>
    <ol>
        <li>A strong foundation of knowledge and skills,</li>
        <li>A research culture which they will use in practical life,</li>
        <li>An understanding of mutual respect for all ethnic and cultural groups,</li>
        <li>A sense of being responsible citizens of the society, and values of hard work and dedication</li>
    </ol>
			</div>
</div>
</div>

{% endblock %}
