{% extends 'base.html' %} {% load static %}
{% block link %}{{ link }}{% endblock %}
{% block links %}{{ link }}{% endblock %}

{% block body %}
    <br>
<h2 align="center">Entry Test Result</h2>
    <form method="get" action="" style="margin-left: 480px" >
    <button type="submit"  class="btn" style="margin-left: 200px;height: 40px;color: black" > Search </button>

    <input type="text" name="q" placeholder="enter your form number" style="height: 40px;margin-left: -304px;border: 1px solid gray ">
</form>
    {% if flag == 1 %}
        <div style="width:400px;height: 320px;border: 1px solid;padding: 10px; margin:0 auto;box-shadow: 5px 10px 18px #888888;">
        <br>
        {% for a,b,c,d in list %}
            <p align="center" style="font-size: 20px"><strong>Congratulations!</strong></p>
            <p align="center" ><strong><u>{{ b }}</u></strong></p>
            <p align="center">You are recommended for</p>
            <p align="center"><strong> {{ d }} </strong></p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;<button><a href="http://abasynisb.edu.pk/media/downloads/challan_forms/{{ a }}.pdf" target="_blank" style="font-size: 15px">Download fee voucher</a></button>

            <form method="post" class="form-inline"  enctype="multipart/form-data">
            {% csrf_token %}

            <p align="center"><button   type="submit" name="submit" value="{{ a }}">Download offer letter &nbsp;</button> </p>
        </form>
        {% endfor %}
        </div>
    {% endif %}
    {% if flag == 0 %}
        <div style="width:400px;height: 220px;border: 1px solid;padding: 10px; margin:0 auto;box-shadow: 5px 10px 18px red;">
        <br>
        <p align="center" style="font-size: 20px;color: red"><strong>Not Recommended</strong></p>
            <p align="center" style="margin-top: 50px"><u>For further assistance contact 051 8438321 <br>or<br> visit campus.</u></p>
        </div>
    {% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}