{% extends 'base.html' %}

{% block body %}

<div class="container container-fluid" style="margin-top: 60px;">
             <div class="row">

                <div class="col-md-12">
                    <h1 style="background:#006666;color:white;">&nbsp;Rules and Policies</h1>
                    
                    <h2>Academic Integrity</h2>
                    <p>Abasyn University expects integrity from every student and staff in all academic work. AU does not support plagiarism in any form. AU main principle regarding the academic integrity is that student’s submitted work must be of his or her own creation. Conduct prohibited by the code consists of all forms of academic dishonesty, including: cheating, fabrication, facilitating academic dishonesty, and plagiarism which is defined in the code of conduct, modifying any academic work for the purpose of obtaining additional credit after such work has been submitted to the supervising faculty member. Failure to observe rules of academic integrity established by a faculty member for a particular course and attempting to commit any act prohibited by the code will result in severe action against the student which includes an automatic ‘Fail’ grade for the course and/or expulsion from the university.</p>
                    <h2>Plagiarism</h2>
                    <p>Abasyn University strongly discourages and condemns any form of plagiarism. Students caught cheating on any examination by using “notes” whether those notes were relevant to the test or not, or caught talking during examination, will receive an automatic ‘Fail’ grade for the course. Strong disciplinary action will be taken against the accused student, including expulsion from the university. Students caught applying “copy & paste” or copying other student’s work on assignments will receive an automatic ‘0’ marks for that assignment.</p>
                    <h2>Academic System</h2>
                    <p>The University follows semester system for all of its degree programs. Each academic year consists of two regular semesters, i.e., Fall and Spring semesters. However, an optional condensed Summer semester is also offered to enable students to cover up any deficiency occurred in the regular semesters.</p>
                    <h2>Academic Duration for Various Degree Programs</h2>
                    <p>Most of the bachelor degree programs consist of four years. However, there are certain programs which are completed in two years such as Bachelor of Commerce (BCom), and associate degrees. Students are expected to complete their education within a specified period of time for the degree they are enrolled for. For fulltime Bachelor students, the normal time needed to complete their degree program is four (4) years and the maximum time permitted is six (6) years. Master degree students are expected to complete their degree requirements within one and half (1.5) to three and half (3.5)years.</p>
                    <h2>Credit Hour</h2>
                    <p>Each class is defined by the number of credit hours. At Abasyn University, majority of classes are either 3 or 4 credit hours. One credit hour is equivalent to 15 contact hours. However, one credit hour lab is equivalent to 2 to 3 contact hours.</p>
                    <h2>Academic Load</h2>
                    <p>Academic load varies from program to program. Normally a student takes 15-18 Credit Hours course work in a semester at the four years degree program. As Abasyn University offers a variety of degree programs, therefore, the academic load varies from degree to degree. See details in student hand book.</p>
                    <h2>Registration</h2>
                    <p>All students of Abasyn University are required to register each semester according to schedule announced by the University authority. Registration is a useful process for both the students and academic Departments in order to plan students’ studies for the whole semester. Student can register minimum possible load depending on his performance in the previous semester(s). The Department can also advise weak students to not register for full load but improve the academic standing to clear the academic probation (if any).</p>
                    <h2>Withdrawal from University</h2>
                    <p>A student who wishes to withdraw from the University must notify the Admissions Office and Head of Department in writing by completing the University Withdrawal form. The Admission Office after proper procedure will issue a letter to student for the closure of the admission in the University.</p>
                    <h2>Freezing of Semester</h2>
                    <p>A student may request freezing of his/her admission for up to 2 semesters along with ‘Semester freeze’ charges of Rs. 2,000 per semester. The written approval of the Head of Department and the Registrar is required. A student cannot freeze more than two semester consecutively and a student cannot avail this facility for more than two time in the whole degree duration.</p>
                    <h2>Grading System</h2>
                    <p>Since AU offers a diverse degree program, therefore, grading scheme varies from discipline to discipline. Letter grades, standing, percentage and grade points are shown in the table below</p>
                    <table border="1">
                        <tbody><tr>
                        <th>Letter Grades</th>
                        <th>Standing</th>
                        <th>Percentage</th>
                        <th>Grade Point</th>
                        </tr>
                        
                        <tr>
                        <td>A</td>
                        <td>Outstanding</td>
                        <td>85-100</td>
                        <td>4.00</td>
                        </tr>
                        
                        <tr>
                        <td>A-</td>
                        <td>Excellent</td>
                        <td>80-84</td>
                        <td>3.67</td>
                        </tr>
                        
                        <tr>
                        <td>B+</td>
                        <td>Very Good</td>
                        <td>75-79</td>
                        <td>3.33</td>
                        </tr>
                        
                        <tr>
                        <td>B</td>
                        <td>Good</td>
                        <td>70-74</td>
                        <td>3.00</td>
                        </tr>
                        
                        <tr>
                        <td>B-</td>
                        <td>Above Average</td>
                        <td>65-69</td>
                        <td>2.67</td>
                        </tr>
                        
                        <tr>
                        <td>C+</td>
                        <td>Average</td>
                        <td>61-64</td>
                        <td>2.33</td>
                        </tr>
                        
                        <tr>
                        <td>C</td>
                        <td>Moderate</td>
                        <td>58-60</td>
                        <td>2.00</td>
                        </tr>
                        
                        <tr>
                        <td>C-</td>
                        <td>Acceptble</td>
                        <td>55-57</td>
                        <td>1.67</td>
                        </tr>
                        
                        <tr>
                        <td>D+</td>
                        <td>Pass</td>
                        <td>53-54</td>
                        <td>1.33</td>
                        </tr>
                        
                        <tr>
                        <td>D</td>
                        <td>Pass</td>
                        <td>50-52</td>
                        <td>1.00</td>
                        </tr>
                        
                        <tr>
                        <td>F</td>
                        <td>Fail</td>
                        <td>Below 50</td>
                        <td>0.00</td>
                        </tr>
                        
                        <tr>
                        <td>I*</td>
                        <td>Incomplete</td>
                        <td></td>
                        <td></td>
                        </tr>
                        
                        <tr>
                        <td>W*</td>
                        <td>Withdraw</td>
                        <td></td>
                        <td></td>
                        </tr>
                    </tbody></table>
                    <br>
                    <h2>Academic Probation</h2>
                    <p>Students whose performance is not satisfactory are kept on academic probation. The following rules of academic probation will be used:</p>
                    <ul>
                        <li>If a student obtains a GPA less than 2.0 in a semester, the student will be placed on academic probation. Students in this status are urged to seek academic counseling through appointment with the Head of the Department or the Dean.</li>
                        <li>If a student who continues to get a GPA below 2.0 in the following semester will be placed on second academic probation. Student and his parent/guardians will also be informed about the weak performance of the student.</li>
                        <li>A student who fails to raise his/her GPA above 2.0 after the second probation period will be dismissed from the university. However, if the student manages to raise the GPA above 2.0, then their name is removed from the probation list.</li>
                        <li>A student on probation  is advised  not to take more than 12 credit hours per semester (3-4 courses) until he/she is not removed from the probation list.</li>
                        </ul>
                    <h2>Repetition of Course with Lower Grades</h2>
                    <p>Students who obtain a grade below ‘C’ will be allowed to improve their grades. In case a student with C+ grade would like to improve his/her grade will be required to get a written permission from the registrar office with the final approval of the Vice Chancellor.</p>
                    <h2>Attendance Requirements</h2>
                    <p>Abasyn University expects students to be punctual and regular in all classes. The students must attend 75% of total classes held in a semester. A student must also maintain at-least 65% in each course to be eligible to appear in the examination. A student does not fulfill the above requirements will be automatically award ‘F’ grade in the concerned subject. In case of an unexpected emergency or absence on genuine grounds, students must submit an application to Head/Dean office with all relevant documents. The Dean or a committee review these kinds of cases and recommend for approval in relaxation of attendance to the Vice Chancellor. In case, the students were absent from classes because of the University sponsored events, it will be the University responsibility to arrange make-up classes for these students.</p>
                    <h2>Dean's List of Honors</h2>
                    <p>A Student is placed on the Dean’s list, if his/her CGPA equals or exceeds 3.50 at the end of semester. Such a student receives a certificate and cash award and his/her name is also placed on the University‘s website. Only those students are included in this list who have completed the semester with regular course load prescribed in the study plan.</p>
                    <h2>Vice Chancllor's List of Honors</h2>
                    <p>A student is placed on the Vice-Chancellor’s Honours list, if his/her CGPA is 4.00 at the end of a semester. Such a student receives a certificate and cash award and his/her name is also placed on the University’s website. Only those students are included in this list who have completed the semester with regular course load prescribed in the study plan</p>

             </div>
         </div>
</div>

{% endblock %}