{% extends 'base.html' %} {% block body %}

<div class="container" style="margin-top: 60px;">
    <div class="row">


        <div id="static-content" class="col-md-12">
            <h1 style="background:#006666;color:white;">&nbsp;Scholarships</h1>
            <p style="text-align:justify">The Abasyn University Islamabad Campus (AUIC) is committed to build a nationwide knowledge community through
                quality education at an affordable cost. At AUIC, we are well aware of the fact that many students are deprived
                of university education due to their economic conditions. As one of its social responsibilities, AUIC offer
                exceptionally subsidized tuition fees to brilliant and needy students in all of its academic programs. </p>
            <p style="text-align:justify">Till fall 2017 semester. AUIC has invested around PKR 40,000,000/- on account of scholarships. The university,
                as its social responsibility, decided to enhance its scholarship programs for brilliant and needy students.
                The following scholarship programs are being offered by Abasyn University, Islamabad Campus to its students.
                </p>
            <h3> AT THE TIME OF ADMISSION </h3>
            <p class="justify">Up to 100% scholarship in the form of tuition fee waiver is offered to students with excellent academic performance.
                The scholarships start from basic eligibility criteria as per degree requirements pertaining to a particular
                discipline from 10% to 100% for eligible students in 1st semester only. </p>
            <h4> MERIT BASED SCHOLARSHIP</h4>
            <p class="justify">Up to 30% scholarship as a waiver on tuition fee is offered as merit-based scholarships at the beginning of 2nd
                semester based upon the academic performance of a student in the 1st semester. The minimum GPA/CGPA required
                to qualify for this scholarship is 3.00</p>

            <h4>GOVT. EMPLOYEE DISCOUNT </h4>
            <p class="justify">The university understands the financial limitations of government employees pursuing their master degree and
                offers scholarship up to 30% waiver in the tuition fee. The scholarship is specifically for master programs
                students. </p>

            <h4>NEED BASED SCHOLARSHIP </h4>
            <p class="justify"> The need based scholarship is for students with special circumstances or financial constraints. The aim of this
                scholarship is to facilitate educational opportunities for needy students. </p>

            <h4>SCHOLARSHIP FOR ORPHAN STUDENTS </h4>
            <p class="justify">The orphan students with good academic record but facing difficulty in fulfilling their financial expenses are
                provided up to 50% scholarship based upon their semester results. </p>

            <h4>SCHOLARSHIP FOR SPECIAL STUDENTS</h4>
            <p class="justify">The university believes in equal opportunity for every citizen and offers special scholarship for special students
                up to 50%. The purpose of this scholarship is to encourage such students so they can contribute equally to
                our society.</p>

            <h5>KINSHIP/SIBLINGS SCHOLARSHIP </h5>

            <p class="justify">In order to facilitate families and to reduce their financial burden, kinship scholarship of 10% is offered to
                siblings throughout their complete academic program. </p>
        </div>


    </div>
</div>

{% endblock %}