{% extends 'base.html' %} {% block body %}
<style>
    .footer1 {
        margin-top: 70px;
    }
</style>
<!-- Vision & Mission -->
    {% load static %}
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-12" id="static-content">
            <h1 style="background:#006666;color:white;">&nbsp;Messages</h1>
            <h2>Chancellor (Muhammad Imran Ullah)</h2>
            <center>
                <img src="{% static "/img/chancellor.jpg"%}" class="img-rounded" width="10%">
            </center>
            <p class="justify">Education is the core value of a nation, and the function of an educational institution is not only to take care
                of an individual’s academic growth but also to take charge of his/her personal, social, mental, psychological,
                and spiritual maturity for overall learning and transformation. Only an institution which takes care of all
                these dynamics can shape a true scholar and a true professional, and Abasyn University is one of its kind
                in this realm. Abasyn University, established in 2007 through an Act of Provincial Assembly, has now emerged
                as a sustainable organization with the grace of Almighty and the committed efforts of the faculty and the
                management. Within a short span of time, the university has made a number of achievements including a thriving
                campus at Islamabad, and one in Ras Al Khaimah, UAE which will be operational as soon as HEC gives a green
                signal. This is heartening to know that apart from excelling in academic standards, students of Abasyn University
                actively participate in diverse socio-cultural activities of high standards such as tree plantation, traffic
                education, blood donation, youth awareness, and community service campaigns, drives, and projects to nurture
                exceptional values of social importance. The University, energized by its distinguished faculty and strengthened
                by its brilliant students, now stands in the highest echelons of education in the country and strives to
                forge new paths for a brighter tomorrow of Pakistan. I would like to congratulate the faculty and management
                of the University for their efforts being rewarded in terms of recognition of D-Pharmacy Discipline by the
                Pharmacy Council of Pakistan. This is going to be a historical year for Abasyn University as the university
                has planned its first convocation which will be held in May 2014, In-sha-Allah. I pray to Allah to crown
                our endeavours with success!</p>
            <h2>Vice Chancellor (DR. SYED UMAR FAROOQ)</h2>
            <center>
                <img src="{% static "/img/vc.jpg" %}" class="img-rounded" width="10%">
            </center>
            <p class="justify">Great institutions are more than places. They’re ideas, and same is true for AbasynUniversity which is meant
                to nurture the interplay of ideas, students, and place in ways that serve them all. At Abasyn University
                we put to work our strongest and most promising academic disciplines and build avenues of access and opportunities
                for the students. On behalf of the University community, I welcome you to the world of Abasyn University.
                This Prospectus gives you an overview of the University's campus, programs and courses. With a very blend
                of highly qualified faculty, excellent infra-structure and handsome enrolment figures, Abasyn University
                has blossomed into an institution of great eminence. One of the University’s two main roles is to help our
                students achieve that potential and become what they want to be and what society needs. Our other main role
                is to generate new knowledge that improves the world and illuminates our understanding of it. We are acknowledged
                as excelling in both of these roles, and we intend to do even better - hence the ambitious programme of investment
                in facilities, faculties and staff at Abasyn University will be continuing in the future ahead. Abasyn University
                has taken full advantage of the modern techniques of communication to facilitate and support its students
                for better quality education by expert faculty members in a congenial academic environment. The goal of our
                University is to contribute to community through the pursuit of knowledge and patronage of quality education
                and thereby promoting and ensuring excellence in higher education in Pakistan. It is constantly seeking new
                vistas of wisdom and knowledge to stand out distinctly apart from the milling crowd of educational providers.
                The introduction of innovative and dynamic programs has proved to be the key factors in the perspective of
                lucrative placements. A bright opportunity is knocking at your door. Please come and tap it. I request you
                to come and personally visit Abasyn University or go through this prospectus to know more about our academic
                environment, curriculum and teaching/learning proceedings. I wish a very bright future for all of you. I
                hope that after getting admission and education at Abasyn University, you will become an asset for the country
                and you will be able to play an important role for the development and prosperity of yourself, your family
                and the people of Pakistan.</p>
        </div>
    </div>
</div>

<!-- End Vision & Mission -->
{% endblock %}