{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="col-sm-3">
        {% include 'department-graduate/MSLSM//MSLSM-sidebar.html' with courses="active" %}
    </div>
    <div class="col-md-9 col-sm-9" id="static-content">
        <div class="table-responsive">

            <h3 class="text-center">Elective Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>LMXXX</td>
                                    <td>Advanced Manufacturing Processes</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LMXXX</td>
                                    <td>Computer Integrated Manufacturing</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LMXXX</td>
                                    <td>Innovation and Technology Entrepreneurship</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LMXXX</td>
                                    <td>Advanced Operations Management</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LMXXX</td>
                                    <td>Advanced Manufacturing Processes</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 1</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
               <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Economics and Financial Studies for Engineers</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Engineering Management Science</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Elective I</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 2</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Advanced Quality Control Techniques</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Engineering Systems Modelling</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Elective II</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 3</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Engineering Project Management</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>LSM601</td>
                                    <td>Elective III</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>TH601</td>
                                    <td>Thesis (I)</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>

            <h3 class="text-center">SEMESTER 4</h3>
            <table class="table">
                <thead style="background-color:#006666; color: white">
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit Hours</th>
                        <th>Pre Req</th>
                    </tr>
                </thead>
                <tbody>
                                <tr>
                                    <td>TH602</td>
                                    <td>Thesis (II)</td>
                                    <td>3+0</td>
                                    <td></td>
                                </tr>
                            </tbody>
            </table>
        </div>
        </div>
    </div>


{% endblock %}