{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSLSM//MSLSM-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">MS in Logistic & Supply Chain Management</h2>
            <p class="justify" >In today's high-tech and globally competitive world, Logistics and Supply Chain Management plays the most valuable role in business success. Industrial giants in Pakistan from every sector have not only started realizing the critical nature of this field but also have developed new departments for supply chain management. This trend has created an immense demand of professionally-trained logistic and supply chain managers to manage supply chain processes. Job opportunities in this field are anticipated to grow in the future. Abasyn University has ventured this program to instill such contemporary expertise required to excell in this particular field through MS Logistics and Supply Chain Management.</p>
        </div>
    </div>
</div>

{% endblock %}

