{% load static %}
<!-- ANSEC CSS-->
<!-- <link rel='stylesheet' href='{% static "ansec/css/global.css" %}'>
<link rel='stylesheet' href='{% static "ansec/content/university/css/structure.css" %}'>
<link rel='stylesheet' href='{% static "ansec/content/university/css/university.css" %}'> -->

<!-- <link rel="stylesheet" href='{% static "ansec/plugins/rs-plugin/css/settings.css" %}'> -->

<!------ Include the above in your HEAD tag ---------->
<!-- ANSEC FONTS -->
<!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400italic,500,700'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'> -->


<!-- JS -->
<!-- <script src='{% static "js/jquery-2.1.4.min.js" %}'></script>
<script src='{% static "js/ui/jquery-ui.min.js" %}'></script>

<script src='{% static "js/mfn.menu.js" %}'></script>
<script src='{% static "js/jquery.plugins.js" %}'></script>
<script src='{% static "js/jquery.jplayer.min.js" %}'></script>
<script src='{% static "js/animations/animations.js" %}'></script>
<script src='{% static "js/scripts.js" %}'></script>

<script src='{% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.video.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js" %}'></script>
<script src='{% static "plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js" %}'></script>

<script>
    jQuery(".jq-tabs").tabs();
    var tpj = jQuery;
    tpj.noConflict();
    var revapi1;
    tpj(document).ready(function() {
        if (tpj("#rev_slider_1_2").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1_2");
        } else {
            revapi1 = tpj("#rev_slider_1_2").show().revolution({
                sliderType: "standard",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 0.7,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                },
                gridwidth: 1180,
                gridheight: 850,
                lazyType: "none",
                shadow: 0,
                spinner: "spinner3",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: "off",
                }
            });
        }
    });
</script>

<script>
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "content/university/images/retina-university.png").width(retinaLogoW).height(retinaLogoH);
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            stickyEl.attr("src", "content/university/images/retina-university.png").width(stickyLogoW).height(stickyLogoH);
        }
    });
</script> -->
