{% extends 'base.html' %}
{% block body %}{% load static %}
<br>]
<h1 style="margin-right: 40px ; margin-left: 40px">Abasyn National Science & Engineering Competition</h1>

<main>
  

  <section id="content1">

      <div class="container underlined-title-about">
    <div class="row">
        <div class="col-md-6" data-pg-collapsed>
            <h1 data-pg-collapsed=""><b>ANSEC</b></h1>
            <hr>
            <br>
            <br>
            <p class="text-justify">
  Abasyn National Science and Engineering Competition (ANSEC) is a national level event organized by Abasyn University Islamabad Campus every year in November.
    Basic purpose of this event is polish the hidden abilities of students through participating them in different competitions.

<br><br>
Number of students from different institutes of Pakistan participated every year.

        </div>
        <div class="col-md-6">
            <center>
                <img style="margin-top:100px" class="img-responsive reveal-inline-block" src='{% static "img/ansec.png" %}' width="326" height="329"
                />
            </center>
        </div>
    </div>
</div>



  </section>
    
  <section id="content2">
       <div class="col-md-8 col-md-offset-2 text-center">
                <div class="underlined-title">
                    <h1 class="sec-title">News<br></h1>
                    <hr>
                </div>
            </div>

       <div class="row">

            <div class="col-md-10 col-sm-10 col-md-offset-1">
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="blog-post wow fadeInUp" data-wow-delay="0.2s">
                            <div class="post-img">
                                <img class="img-responsive" width="210px" height="210px" src='{% static "img/ambsdr.jpg" %}' alt="image">
                                <ul class="list-inline post-info">

                                    <li class="post-tag text-uppercase">Ambassador Registrations</li>
                                </ul>
                            </div>
                            <div class="blog-details">
                                <h4 class="media-heading">Ambassador Registrations</h4>
                                <a target="_blank"  class="btn btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLSd-OodifI7lT5U1cdLw6a3qNMVC6OaubawjqDq9yRBuVw6T-Q/viewform">Click Here</a>

                            </div>
                        </div>
                    </div>




                     <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="blog-post wow fadeInUp" data-wow-delay="0.2s">
                            <div class="post-img">
                                <img class="img-responsive" width="210px" height="210px" src='{% static "img/rules.jpg" %}' alt="image">
                                <ul class="list-inline post-info">

                                    <li class="post-tag text-uppercase">Rules and Regulations</li>
                                </ul>
                            </div>
                            <div class="blog-details">
                                <h4 class="media-heading">Rules and Regulations</h4>
                                <a target="_blank"  class="btn btn-success" href="https://drive.google.com/file/d/1A1eH_h5eDw2M3KRuyT55t9lnQyJfmd0V/view">Click Here</a>

                            </div>
                        </div>
                    </div>





                     <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="blog-post wow fadeInUp" data-wow-delay="0.2s">
                            <div class="post-img">
                                <img class="img-responsive" width="270px" height="270px" src='{% static "img/register.png" %}' alt="image">
                                <ul class="list-inline post-info">

                                    <li class="post-tag text-uppercase">Online Registrations</li>
                                </ul>
                            </div>
                            <div class="blog-details">
                                <h4 class="media-heading">Online Registrations</h4>
                                <a target="_blank"  class="btn btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLSeqmkyk-LhGaB9G_tzCznlyXrByWb42KJpj3R6L6ELWj8RX3w/viewform">Click Here</a>

                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>


  </section>
    <br><br><br>

    
</main>
{% endblock %}