{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSEE//MSEE-sidebar.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">MS in Electrical Engineering</h2>
            <p class="justify" >Abasyn University is one of the fast growing private universities in Pakistan to offer various degree programs in Computing and Engineering disciplines. The University has successfully launched various academic programs in these areas in the last few semesters. The University has now planned a full-fledged master degree program in Electrical Engineering which has been launched at all of its campuses from Fall Semester 2013. The main goal of the program is to create specailist to solve many of the industrial problems faced by the nation. Electronics, Communication, Computing, Image processing and intelligence systems will be the main areas of study and research. Hands on practice, real world applications, case studies and activity led learning (ALL) methodologies will be used to implement curriculum. The graduate of the program will be highly useful for the job at the international companies.</p>
        </div>
    </div>
</div>

{% endblock %}

