{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-graduate/MSEE//MSEE-sidebar.html' with structure="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">

                    <br>
                    <h2 style="font-family: 'Lato', sans-serif;">Program Structure</h2>
            <p>MSEE  curriculum is also divided into core and  electives courses. A 6 CrHr thesis is compulsory part of the MSEE curriculum. All students aret required to complete thesis on individual basis. The course work of the MSEE program consists of 9 CrHr core and 15 CrHr elective and specializations courses.</p>
                    <table class="table text-left">
                            <tbody><tr>
                                <th>Category</th>
                                <th>CrHr</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>Core Courses</td>
                                <td>12</td>
                                <td>Core courses are compulsory. A list of core courses is designed based on latest trend in Electrical Engineering as per the HEC criteria which will be offered to students in the initial three semesters. </td>
                            </tr>
                            <tr>
                                <td>Elective Courses</td>
                                <td>12</td>
                                <td> A number of specialization areas have been identified. Relevant courses for each specialization area are listed. Student will be required to complete four courses from the chosen area and one from the cross domain.</td>
                            </tr>
                            <tr>
                                <td>Thesis</td>
                                <td>06</td>
                                <td>Intensive research to be conducted in this course. The University encourages Master students to publish their research work at national and international forums. </td>
                            </tr>

                            <tr>
                                <th>Total</th>
                                <th>30</th>
                                <th></th>
                            </tr>
                        </tbody></table>        
             <br>
             <br>
        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

