{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-electrical/sidebar-electrical.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
                        <h4 class="text-center" style="font-family: 'Lato', sans-serif;">Department of Electrical Engineering</h4>
  <p class="justify">
The Department of Electrical Engineering in Islamabad Campus is one of the most prestigious department committed to providing high quality education and research. The department is designed and developed along the modern lines which are tailored to impart and strengthen the students’ knowledge and skills in Electrical Engineering and its related specialties. The department is equipped with qualified faculty and state of the art laboratories. The department offers 4-year bachelor program in Electrical Engineering (BEEE) to meet the needs of the country. The BEEE program is accredited by Pakistan Engineering Council (PEC) under Outcome Based Education (OBE) system. The department also offers MS program in Electrical Engineering.
  </p>
            <h4 class="text-center" style="font-family: 'Lato', sans-serif;">Department Mission</h4>
  <p class="justify">
      The mission of the Electrical Engineering department is to “excel in quality education and
research adhering to a sense of social responsibility and teamwork skills”.
  </p>



        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

