{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-electrical/sidebar-electrical.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h4 class="text-center" style="font-family: 'Lato', sans-serif;">BE in Electrical Engineering</h4>
            <p class="justify" align="justify">The Department of Engineering offers a four years’ degree program of BE Electrical Engineering which is permitted by the Pakistan Engineering Council (PEC).
The main objective of this program is to provide quality education in the field of Electrical Engineering. The desired output of the program is to produce electrical engineers who are able to handle the technical issues of the field today and are prepared to address the challenges of ever growing and ever changing ﬁeld of Electrical Engineering. Our industry oriented curriculum makes sure that our graduates will be able to fulfill the requirements of the local and foreign industry. Our focus on incorporating R&D practices in the academics will make sure that our graduates are able to work on novel problems and come up with ground breaking solutions.
            </p>

<h2 style="font-family: 'Lato', sans-serif;" class="text-center"><a style="color: black" href="{% url 'slider:MSEE_info' %}">MS in Electrical Engineering (MSEE)</h2>
            <p class="justify" align="justify">
Abasyn University is one of the fast growing private universities in Pakistan to offer various degree programs in Computing and Engineering disciplines. The University has successfully launched various academic programs in these areas in the last few semesters. The University has now planned a full-fledged master degree program in Electrical Engineering which will be launched at all of its campuses from Fall Semester 2013. The main goal of the program is to create specialists to solve many of the industrial problems faced by the nation. Electronics, Communication, Computing, Image processing and intelligence systems will be the main areas of study and research. Hands on practice, real world applications, case studies and activity led learning (ALL) methodologies will be used to implement curriculum. The graduate of the program will be highly useful for the job at the international companies.
<br>
Major Outcomes of the program:<br>
•	Ability to investigate technology and tools<br>
•	Ability to design and propose new methods<br>
•	Ability to design solution to problem faced by computing and engineering industries.<br>
•	Ability to work independently<br>
•	Ability to produce impact factor research<br>
</p>


            <h2  style="font-family: 'Lato', sans-serif;" class="text-center" > <a style="color: black" href="{% url 'slider:MSTN_info' %}">MS in Telecommunication & Networks (MSTN)</h2>
            <p align="justify">
                MS in Telecommunication and Networks is an advanced course designed to enable the students to take on the current challenges in the Telecommunication industry and be prepared for the challenges of tomorrow. The program is designed to impart both theoretical knowledge and practical skills to its students.
<br>MSTN program provides students with broad range of knowledge and practical skills required to excel in Telecom industry today. Students are also introduced to a number of latest computer tools to enable them to work in the industry without an on job training. The program provides an opportunity to students to choose a specific area of the discipline for their specialization.


            </p>

        </div>
    </div>
</div>
<!-- End HOD Message -->
{% endblock %}

