{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-electrical/sidebar-electrical.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
                  <h4 class="text-center" style="font-family: 'Lato', sans-serif;">BE in Electrical Engineering</h4>
            <p class="justify" align="justify">Since launching of the program in fall 2012, BEEE is progressing rapidly to become a promising program in developing professional electrical engineers. The department has a capacity to accommodate 160 undergraduate students. EE labs are well equipped with the state-of-the-art equipment for its undergraduate program. The BEEE program is designed to produce quality professional engineers with abilities to design, manage and operate electrical engineering-based projects. The program effectively provides a strong foundation for those wishing to pursue a career in electrical engineering through a diverse range of theoretical knowledge and practical skills. The program is based on solid foundations of mathematics and sciences and hands on training in well-equipped labs augmented by industrial visits and study tours. </p>
<h4  class="text-center" style="font-family: 'Lato', sans-serif;"  style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Program(BEEE) Mission</h4>
            <p class="justify" align="justify">The mission of the Electrical Engineering department is to “excel in quality education and research adhering to a sense of social responsibility and teamwork skills”</p>
  <h4 style="font-family: 'Lato', sans-serif;" class="text-center">Program Structure</h4>

  <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Domain</th>
                                <th>Knowledge Area</th>
                                <th>CrHr</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">Non-Engineering</td>
                            </tr>
                            <tr>
                                <td>Humanities</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Management & Social Sciences</td>
                                <td>06</td>
                            </tr>    
                            <tr>    
                                <td>Natural Sciences</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td></td>    
                                <th>Sub Total</th>
                                <th>40</th>
                            </tr> 
                            <tr>
                                <td rowspan="8">Engineering</td>
                            </tr>
                            <tr>
                                <td>Computing</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>Engineering Foundation</td>
                                <td>29</td>
                            </tr>    
                            <tr>    
                                <td>Major based Core (Breadth)</td>
                                <td>23</td>
                            </tr>
                            <tr>    
                                <td>Major based Core (Depth)</td>
                                <td>19</td>
                            </tr>
                            <tr>    
                                <td>Inter-Disciplinary<br>Engineering Breadth<br>(Electives)</td>
                                <td>06</td>
                            </tr>
                            <tr>    
                                <td>Senior Design project</td>
                                <td>06</td>
                            </tr>
                            <tr>    
                                <td>Industrial Training (Summer)</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>    
                                <th>Sub Total</th>
                                <th>94</th>
                            </tr>
                            <tr>
                                <td></td>    
                                <th>Total</th>
                                <th>134</th>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <br/>
               
                
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
