{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-electrical/sidebar-electrical.html' with structure="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
                  <h4 class="text-center" style="font-family: 'Lato', sans-serif;">BE in Electrical Engineering</h4>
            <p class="justify" align="justify">Since launching of the program in fall 2012, BEEE is progressing rapidly to become a promising program in developing professional electrical engineers. The department has a capacity to accommodate 160 undergraduate students. EE labs are well equipped with the state-of-the-art equipment for its undergraduate program.<br><br>
                The BEEE program is designed to produce quality professional engineers with abilities to design, manage and operate electrical engineering-based projects. The program effectively provides a strong foundation for those wishing to pursue a career in electrical engineering through a diverse range of theoretical knowledge and practical skills. The program is based on solid foundations of mathematics and sciences and hands on training in well-equipped labs augmented by industrial visits and study tours.
                <a style="font-size: 12px;color: #00aeef" href="{% url "slider:EE_foreword" %}">Read more</a> </p>

                
  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
