{% extends 'base.html' %}

{% block body %}
{% load static%}
<!-- HOD Message -->
<div class="container ">

<div class="row">
      <div class="col-sm-3">
        <nav class="nav-sidebar">
            {% include 'department-electrical/sidebar-electrical.html' with hod="active" %}
        </nav>
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">HOD MESSAGE</h2>
  <center><img src='{% static "/img/HOD/hod-electrical.jpg" %}' class="img-rounded" width="10%"></center>
  <br>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department of Electrical Engineering</p>
  <br>
      <p class="justify">A very warm welcome to our departmental webpage. The mission of the Electrical Engineering program
is to provide quality education, strive to impart critical thinking and creativity using latest technologies
adhering to a sense of social responsibility and teamwork skills.
Our Department offers a wide range of courses at bachelors and master level with specialization in
power as well as communication domain. The Department has implemented Outcome Based Education
(OBE) system starting spring 2018. We have experienced faculty members to teach courses and
supervise state of the art research. The department has well-equipped laboratories along with dedicated
lab engineers. Other than performing the teaching responsibilities, the faculty is also involved in extra-
curricular activities to provide a conducive environment for students.
We welcome you to browse the department website, whether you are a student, parent, alum, we are
looking forward for you to visit us. Your feedback is highly appreciated.</p>
  <p style=" font-family: 'Lato', sans-serif; font-size: 25px; line-height: 36px; color: #0b0507a3; text-align: center;">Department Mission</p>
  <p class="justify">
      The mission of the Electrical Engineering department is to “excel in quality education and
research adhering to a sense of social responsibility and teamwork skills”.
  </p>
  </div>

</div>

</div>

<!-- End HOD Message -->
{% endblock %}