
{% extends 'base.html' %}{% load   static %} {% block body %}

    <style>
        .footer1{
        margin-top:70px;
        }
    </style>
<div style="margin-top: 30px;" class="container">
    <div class="row">
            <div class="col-sm-3">
                    <nav class="nav-sidebar">
                        {% include 'department-electrical/sidebar-electrical.html' with obe="active" %}
                    </nav>
                  </div>
        <div class="col-md-9 col-sm-9 ">
            <h1 style="background: #006666; color: white;">&nbsp;Outcome Based Education</h1>
            <h4>Program Educational Objectives (PEOs)</h4>
            <p>The curriculum of Electrical degree of Abasyn University Islamabad Campus covers all Program Educational Objectives (PEOs) of the program.</p>

    The graduates of BEEE program are expected to
            <ol>

<li>Be competent engineers who exhibit theoretical and practical knowledge in industry
    and/or academia.</li>
                <li>Practice engineering in an ethical and socially responsible manner.</li>
                <li>Demonstrate interpersonal and management skills and engage in professional growth.</li>
</ol>

<img src="{%  static 'img/plo.png' %}" height="350px" width="580px"><br>
            <h4>Program Learning Outcomes (PLOs)</h4>
            <p>The curriculum of Electrical degree of Abasyn University Islamabad Campus covers all twelve program learning outcomes (PLOs) of the program.</p>
The graduates of Electrical Engineering program will attain the following attributes:

            <ol >

<li>Engineering Knowledge: An ability to apply knowledge of mathematics, science and
engineering fundamentals and an engineering specialization to the solution of complex
    engineering problems.</li>
<li>Problem Analysis: An ability to identify, formulate, research literature, and analyze
complex engineering problems reaching substantiated conclusions using first principles
                of mathematics, natural sciences and engineering sciences.</li>
<li>Design/Development of Solutions: An ability to design solutions for complex
engineering problems and design systems, components or processes that meet the
specified needs with appropriate consideration for public health and safety, cultural,
                societal, and environmental considerations.</li>
<li>Investigation: An ability to investigate complex engineering problems in a methodical
way including literature survey, design and conduct of experiments, analysis and
interpretation of experimental data, and synthesis of information to derive valid
                conclusions.</li>
<li>Modern Tool Usage: An ability to create, select and apply appropriate techniques,
resources, and modern engineering and IT tools, including prediction and modelling to
                complex engineering activities, with an understanding of the limitations.</li>
<li>The Engineer and Society: An ability to apply reasoning informed by contextual knowledge
to assess societal, health, safety, legal and cultural issues and the consequent responsibilities
                relevant to professional engineering practice and solution to complex engineering problems.</li>
<li>Environment and Sustainability: An ability to understand the impact of professional
engineering solutions in societal and environmental contexts and demonstrate knowledge
                of and need for sustainable development.</li>
<li>Ethics: Apply ethical principles and commit to professional ethics and responsibilities
                and norms of engineering practice.</li>

<li>Individual and Team Work: An ability to work effectively as an individual or in a
                team, on multifaceted and/or multidisciplinary settings.</li>
<li>Communication: An ability to communicate effectively, orally as well as in writing, on
complex engineering activities with the engineering community and with society at large,
such as being able to comprehend and write effective reports and design documentation,
                make effective presentations, and give and receive clear instructions.</li>
<li>Project Management: An ability to demonstrate management skills and apply
engineering principles to one’s own work, as a member and/or leader in a team, to
                manage projects in a multidisciplinary environment.</li>
<li>Lifelong Learning: An ability to recognize importance of, and pursue lifelong learning
                in the broader context of innovation and technological developments.</li>
            </ol>

<img src="{%  static 'img/peo.png' %}" height="350px" width="580px"><br>



            <h4>Course Learning Outcomes (CLOs)</h4>
            <p>The curriculum of Electrical degree of Abasyn University Islamabad Campus covers all the course learning outcomes (CLOs) of the program.</p><a class="btn btn-danger" href="{% url 'slider:accredition-electrical' %}" >Click to see</a>





    </div>

        </div>
    </div>
</div>
{% endblock %}