<nav class="nav-sidebar">
    <ul class="nav">
  
        
      <li class="{{ info }}">
        <a href="{% url 'slider:electrical_info' %}">Program Info</a>
      </li>
      <li class="{{ structure }}">
        <a href="{% url 'slider:electrical_structure' %}">Program Structure</a>
      </li>
      <li class="{{ courses }}">
          <a href="{% url 'slider:electrical_courses'%}">Curriculum</a>
        </li>
      <li class="{{ faculity }}">
        <a href="{% url 'slider:staff-electrical' %}">Faculty</a>
      </li>
    
      <li class="{{ obe }}">
          <a  href="{% url 'slider:obe-electrical' %}">OBE</a>
        </li>
      <li>
          <a  href="{{admission.link}}">Apply Online</a>
      </li>
      <li>
        <a target="_blank" href="{% url 'slider:feestructure' %}">Fee Structure</a>
      </li>
    </ul>
  </nav>