{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container ">
<div class="row">
      <div class="col-sm-3">
            {% include 'department-pharmacy/PD/sidebar-PD.html' with info="active" %}
      </div>
  <div class="col-md-9 col-sm-9" id="static-content">
  <h2 style="font-family: 'Lato', sans-serif;" class="text-center">Doctor of Pharmacy</h2>

            <p class="justify">The Department of Pharmacy offers 5-year Doctor of Pharmacy (Pharm-D) program. The department follows the HEC curriculum that not only provides a solid foundation of the discipline, but also equips the students with required knowledge and skills required to practice as a quality health care professional to serve the community, hospital and industry.</p>
            <p class="justify"><strong>Mission: </strong>To prepare doctor of pharmacy graduates who enter into the profession prepared for current professional practices in a variety of core settings through a high quality contemporary curriculum emphasizing quality education, practical skills and research to cater for the needs for competent professionals locally and globally. </p>
            <p class="justify">
                <strong>Program Educational Objectives (PEOs)</strong>
            <br>

            The Pharm-D program aims to prepare graduates who are expected to:<br>
                <ol >
            <li>Demonstrate excellence in profession through in depth knowledge and skills as pharmacists in health care systems, pharmacy practice, industry, regulation, academia and research and development.</li>
            <li>Demonstrate the strong ethical and professional values, communication, interpersonal and social skills and self-improvement.</li>
            <li>Engage in continuous professional development and lifelong learning. </li>
        </ol>
            </p>
            <p class="justify">
                <strong>Program Learning Outcomes (PLOs)</strong><br>
                The Doctor of Pharmacy (Pharm-D) program prepares graduates who, upon graduation, are expected to:
            <ol>
            <li><strong>Professional Skills. </strong>Provide professional services in various fields of the profession like clinical, hospital, community, drug regulation, industry, academia and research and development.</li>
            <li><strong>Pharmaceutical care. </strong>Design, implement, evaluate, and modify patient-specific, pharmaceutical care plans in cooperation with patients and other health care team members in accordance with established standards of practice.</li>
            <li><strong>Design and Development. </strong>Identify physicochemical properties of drug substances that affect solubility, pharmacokinetic properties, pharmacologic actions, and stability to design, develop and analyze dosage forms and drug delivery systems.</li>
            <li><strong>Distribution and Storage. </strong> Participate in and manage the systems for distribution, storage, retail sale and dispensing of sterile and non-sterile medications and associated medical products.</li>
            <li><strong>Drug Interactions. </strong>Prevent, minimize or predict drug interactions, adverse effects and contraindications associated with the care plan.</li>
            <li><strong>Care Plan Outcomes. </strong> Provide patient-centered care and population-base care by disease state management and safe usage of medication to optimize care plan outcomes. </li>
            <li><strong>Health Information. </strong>Provide health care information regarding lifestyle, medication and other non-drug measures that promote health or prevent the progression of a disease or medical condition.</li>
            <li><strong>Problem Analysis.</strong>Identify and analyze complex pharmaceutical and health related problems reaching substantial conclusion using the principles of basic medical, pharmaceutical and related sciences.</li>
            <li><strong>Management Skills.</strong> Apply pharmaceutical management principles to set up and manage pharmaceutical projects from start to end as a team member or as a leader.</li>
            <li><strong>Communication Skills.</strong> Demonstrate effective interpersonal, oral and written communications skills as a team member as well as individually to interact with health care professionals, patients and stakeholders.</li>
            <li><strong>Ethics.</strong> A commitment to apply ethical principles, professional ethics, responsibilities, norms and comply with the laws of pharmaceutical practice.</li>
            <li><strong>Lifelong Learning.</strong> Recognize importance of, and pursue, lifelong learning and further the body of knowledge in the broader context of development of the profession.</li>

        </ol>
            </p>


  </div>
</div>
</div>
<!-- End HOD Message -->
{% endblock %}
