{% extends 'base.html' %}

{% block body %}

<div class="container" style="margin-top: 60px;">
    <div class="row">
			<div class="col-sm-3">
					{% include 'about-us/about-us-sidebar.html' with objective="active" %}
				</div>
<div class="col-md-9" id="static-content">
				<h1 style="background:#006666;color:white;">&nbsp;Aims and Objectives</h1>
				<p>The main objective of the university is to provide high quality, comprehensive educational, training and research opportunities that produce highly qualified graduates and responsible citizens who are able to meet the needs of all sectors of human activity. The University offers to its students relevant qualifications, including professional training,
                    which combine high-level knowledge and skills, using courses and content continually tailored to the present and future needs of society.</p>
				<h2>&nbsp;General Goals</h2>
                <p>General goals of the university are:</p>
                <ol>
		<li>To pursue excellence in education and research by developing relevant curriculum.</li>
		<li>To produce graduates who possess high quality ability to contribute toward the development of society.</li><li>To encourage students to challenge current theories and practices.</li>
		<li>To encourage students to challenge current theories and practices.</li>
         <li>To encourage student to break new grounds and cultivate leadership quality.</li>
        <li>To develop strong interpersonal and communication skills in its graduates</li>

	        </ol>
        <br>
        <h2>Benefits to the Students</h2>
    <p>Abasyn University aims to provide relevant education to its students which will provide many career opportunities to them. <br><br>In fulfilling its mission, Abasyn University cultivates following qualities in its students:</p>
    <ol>
        <li>A strong foundation of knowledge and skills,</li>
        <li>A research culture which they will use in practical life,</li>
        <li>An understanding of mutual respect for all ethnic and cultural groups,</li>
        <li>A sense of being responsible citizens of the society.</li>
    </ol>
			</div>
</div>
</div>

{% endblock %}
