{% extends 'base.html' %}

{% block body %}
<style>
    .footer1{
    margin-top:70px;
    }
</style>
<!-- Vision & Mission -->
<div class="container" style="margin-top: 60px;">
		<div class="row">
				<div class="col-sm-3">
                        {% include 'about-us/about-us-sidebar.html' with vision="active" %}
                    </div>
			<div class="col-md-9" id="static-content">
				<h1 style="background:#006666;color:white;">&nbsp;Vision</h1>
				<p>Aspiring for a transformative impact on society through academic excellence and growth.</p>
				<h2 style="background:#006666;color:white;">&nbsp;Mission</h2>
				<p>To build a nationwide knowledge community through quality education, relevance, critical thinking, creativity, research, and high sense of social responsibility.</p>
			</div>
		</div>
	</div>

<!-- End Vision & Mission -->
{% endblock %}