{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-life-scienecs/RT/sidebar-RT.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS in Radiology Technology</h2>
            <p class="justify" >The BS Radiology Technology combines the underlying science and technologies of medical imaging.   The curriculum of the program emphases on theoretical knowledge and practical skills required to understand how medical images are formed and appreciating and what images revel in the clinical context.
The department has the services of highly qualified faculty, technologists and paramedical staff as its disposal for effective delivery of the program</p>
        </div>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br>
<!-- End HOD Message -->
{% endblock %}

