{% extends 'base.html' %}

{% block body %}

<!-- HOD Message -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'department-life-scienecs/PO/sidebar-PO.html' with info="active" %}
        </div>
        <div class="col-md-9 col-sm-9" id="static-content">
            <h2 class="text-center" style="font-family: 'Lato', sans-serif;">BS in Prosthetic  & Orthotics</h2>
            <p class="justify" >Prosthetics and Orthotics is a specialized, allied healthcare field that helps patients regain mobility after loss of a limb, or function. Prosthetics is the design, manufacturing and fitting of artificial devices to replace lost limbs, hands or feet; and orthotics is the design and fitting of ort. The main objective of the program is to:
            <ul>
            <li>Maintain or correct body segment alignment.</li>
            <li>Assist joint or resist joint motion during key phases of gait.</li>
            <li>Relieve or distribute distal weight bearing forces.</li>
            <li>To protect from external stimuli – Restore Mobility.</li>
            <li>To minimize risk of deformities.</li>
        </ul>

            </p>
        </div>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br>
<!-- End HOD Message -->
{% endblock %}

