{% extends 'admission_sys/admin_base.html' %}
{% block admin %}
    {% load static %}
    {% if flag == 1 %}
    <div class="alert alert-success" role="alert">
  Sucessfully Deleted all Chalan Forms!
</div>
    {% endif %}
<form method="POST" name="delete" enctype="multipart/form-data">
    <h1>Upload&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% csrf_token %}
        <input type="button" hidden name="delete">
    <button type="submit" name="delete" class="btn">Delete</button></h1></form>
<hr>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {{ form2.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
</form>

{% endblock %}